In [26]:
#pip install pandas

import pandas as pd

#All 8 csv aviable from AirBNB web
csv_files = [
    "DATA/reservations.csv",
    "DATA/reservations (1).csv",
    "DATA/reservations (2).csv",
    "DATA/reservations (3).csv",
    "DATA/reservations (4).csv",
    "DATA/reservations (5).csv",
    "DATA/reservations (6).csv",
    "DATA/reservations (7).csv"
]

# Read and concatenate all CSVs
dataframes = [pd.read_csv(file) for file in csv_files]
combined_df = pd.concat(dataframes, ignore_index=True)
# Drop duplicates based on 'Codigo de confirmacion' unique for each reservation.
# This is done because, I'm downloading manually each csv, so I could be downloading more than once the same csv.
cleaned_df = combined_df.drop_duplicates(subset=['Código de confirmación'])

print(cleaned_df.head(15))

   Código de confirmación                              Estado  \
0              HMM39A32MY  En espera de la reseña del huésped
1              HMHD29BF4W  En espera de la reseña del huésped
2              HMNFC2M2HE  En espera de la reseña del huésped
3              HMDX3FPRSE                    Huésped anterior
4              HMJWPAAE4S  En espera de la reseña del huésped
5              HMH5FWWQAH                    Huésped anterior
6              HM4PQND42C  En espera de la reseña del huésped
7              HM2JRAWRS3                    Huésped anterior
8              HMQ5WCR5YP                    Huésped anterior
9              HMYY8JZNT9                    Huésped anterior
10             HMDWKMCDJY                    Huésped anterior
11             HMYH9HDA9M                    Huésped anterior
12             HMPE4NCEYR                    Huésped anterior
13             HM5XJDCD45                    Huésped anterior
14             HMK2SQZMYA                    Huésped anterior

          Nombre del huésped           Contacta  Número de adultos  \
0          Leonardo Calasans  +55 21 99259-6924                  1
1         Brenda Lucas Braga  +55 75 98891-6342                  2
2               Martin Ortiz      +591 69609063                  2
3              Vianka Mamani    +56 9 7476 3088                  1
4               Diego Florez    +51 912 708 082                  1
5               Walter Wiebe    +1 604-679-1612                  1
6        Patricia De La Vina    +1 602-386-6258                  4
7               Gene Callawy                NaN                  2
8             Charlie Alanez                NaN                  1
9   Gonzalo Aguirre Alvarado                NaN                  3
10            Fael Gutierrez                NaN                  6
11            Silvana Parada                NaN                  2
12              Carla Ortega                NaN                  2
13    Alberto Vargas Morales                NaN                  2
14       Patricia De La Vina                NaN                  4

    Número de niños  Número de bebés Fecha de inicio       Hasta  \
0                 0                0       16/1/2025   20/1/2025
1                 0                0        4/1/2025   20/1/2025
2                 0                0       18/1/2025   19/1/2025
3                 0                0       12/1/2025   19/1/2025
4                 0                0       10/1/2025   13/1/2025
5                 0                0      30/12/2024   12/1/2025
6                 0                0        8/1/2025   11/1/2025
7                 0                0        3/1/2025    6/1/2025
8                 0                0      31/12/2024    2/1/2025
9                 0                0      31/12/2024    2/1/2025
10                0                0      31/12/2024    2/1/2025
11                0                1      20/12/2024    2/1/2025
12                0                0      24/12/2024    1/1/2025
13                0                0      30/12/2024  31/12/2024
14                0                0      27/12/2024  30/12/2024

    Número de noches   Reservado  \
0                  4  2025-01-16
1                 16  2024-12-28
2                  1  2025-01-18
3                  7  2025-01-03
4                  3  2025-01-10
5                 13  2024-11-30
6                  3  2024-12-28
7                  3  2025-01-03
8                  2  2024-12-30
9                  2  2024-12-27
10                 2  2024-12-26
11                13  2024-12-18
12                 8  2024-12-14
13                 1  2024-12-30
14                 3  2024-12-13

                                             Anuncio Ingresos
0                         Exclusivo y Elegante dpto!   $26.83
1   En Equipetrol: Confort & Estilo, Ubicación Ideal  $400.80
2                        SMART YOU: Confort y Estilo   $14.17
3                    Dpto. 3 Dorm. con Piscina y Gym  $440.38
4                         Exclusivo y Elegante dpto!   $22.61
5                   Monoambiente exclusivo SKY Elite   $62.72
6                    Dpto. 3 Dorm. con Piscina y Gym  $216.31
7                         Exclusivo y Elegante dpto!   $22.61
8                        SMART YOU: Confort y Estilo   $19.27
9     Sky Elite, departamento con parqueo, gym y más   $22.18
10                   Dpto. 3 Dorm. con Piscina y Gym  $158.11
11                        Exclusivo y Elegante dpto!   $59.32
12               Sky Elite: tu destino en Equipetrol  $212.24
13                       SMART YOU: Confort y Estilo   $14.17
14                   Dpto. 3 Dorm. con Piscina y Gym  $209.03

In [27]:
# Listing new column names, easier to understand
new_column_names = [
    "Código de confirmación",
    "Estado",
    "Nombre del huésped",
    "Contacto",
    "Número de adultos",
    "Número de niños",
    "Número de bebés",
    "Ingreso",
    "Salida",
    "Número de noches",
    "Fecha de Reservación",
    "Propiedad",
    "Ingresos Totales"
]

# Changing Column Names
cleaned_df.columns = new_column_names

# Understanding more about the Data
print(cleaned_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 234 entries, 0 to 261
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Código de confirmación  234 non-null    object
 1   Estado                  234 non-null    object
 2   Nombre del huésped      234 non-null    object
 3   Contacto                27 non-null     object
 4   Número de adultos       234 non-null    int64
 5   Número de niños         234 non-null    int64
 6   Número de bebés         234 non-null    int64
 7   Ingreso                 234 non-null    object
 8   Salida                  234 non-null    object
 9   Número de noches        234 non-null    int64
 10  Fecha de Reservación    234 non-null    object
 11  Propiedad               234 non-null    object
 12  Ingresos Totales        234 non-null    object
dtypes: int64(4), object(9)
memory usage: 25.6+ KB
None

In [28]:
# Convirtiendo la columna Ingreso de object a date
# Create a copy of cleaned_df to avoid modifying the original dataframe
cleaned_DateTime_df = cleaned_df.copy()

# Convertir la columna 'Ingreso' a formato datetime
cleaned_DateTime_df['Ingreso'] = pd.to_datetime(cleaned_DateTime_df['Ingreso'], format='%d/%m/%Y', errors='coerce')

# Verificar si hay valores nulos después de la conversión
if cleaned_DateTime_df['Ingreso'].isna().any():
    print("Existen valores no convertidos a datetime. Revisa los siguientes datos:")
    print(cleaned_DateTime_df[cleaned_DateTime_df['Ingreso'].isna()])

# Mostrar el tipo de la columna después de la conversión
print(cleaned_DateTime_df['Ingreso'].dtype)

datetime64[ns]

In [29]:
# Convirtiendo la columna Salida de object a date

# Convertir la columna 'Salida' a formato datetime
cleaned_DateTime_df['Salida'] = pd.to_datetime(cleaned_DateTime_df['Salida'], format='%d/%m/%Y', errors='coerce')

# Verificar si hay valores nulos después de la conversión
if cleaned_DateTime_df['Salida'].isna().any():
    print("Existen valores no convertidos a datetime. Revisa los siguientes datos:")
    print(cleaned_DateTime_df[cleaned_DateTime_df['Salida'].isna()])

# Mostrar el tipo de la columna después de la conversión
print(cleaned_DateTime_df['Salida'].dtype)

datetime64[ns]

In [30]:
# Convirtiendo la columna Fecha de Reservación de object a date

# Convert 'Fecha de Reservación' to datetime format (YYYY-MM-DD)
cleaned_DateTime_df['Fecha de Reservación'] = pd.to_datetime(
    cleaned_DateTime_df['Fecha de Reservación'], 
    format='%Y-%m-%d', 
    errors='coerce'
)

# Verify if there are NaT values after conversion
if cleaned_DateTime_df['Fecha de Reservación'].isna().any():
    print("Existen valores no convertidos a datetime. Revisa los siguientes datos:")
    print(cleaned_DateTime_df[cleaned_DateTime_df['Fecha de Reservación'].isna()])

# Display the column type after conversion
print(cleaned_DateTime_df['Fecha de Reservación'].dtype)

#Revisando todos los cambios de Date que realizamos
print(cleaned_DateTime_df.head())

datetime64[ns]
  Código de confirmación                              Estado  \
0             HMM39A32MY  En espera de la reseña del huésped
1             HMHD29BF4W  En espera de la reseña del huésped
2             HMNFC2M2HE  En espera de la reseña del huésped
3             HMDX3FPRSE                    Huésped anterior
4             HMJWPAAE4S  En espera de la reseña del huésped

   Nombre del huésped           Contacto  Número de adultos  Número de niños  \
0   Leonardo Calasans  +55 21 99259-6924                  1                0
1  Brenda Lucas Braga  +55 75 98891-6342                  2                0
2        Martin Ortiz      +591 69609063                  2                0
3       Vianka Mamani    +56 9 7476 3088                  1                0
4        Diego Florez    +51 912 708 082                  1                0

   Número de bebés    Ingreso     Salida  Número de noches  \
0                0 2025-01-16 2025-01-20                 4
1                0 2025-01-04 2025-01-20                16
2                0 2025-01-18 2025-01-19                 1
3                0 2025-01-12 2025-01-19                 7
4                0 2025-01-10 2025-01-13                 3

  Fecha de Reservación                                         Propiedad  \
0           2025-01-16                        Exclusivo y Elegante dpto!
1           2024-12-28  En Equipetrol: Confort & Estilo, Ubicación Ideal
2           2025-01-18                       SMART YOU: Confort y Estilo
3           2025-01-03                   Dpto. 3 Dorm. con Piscina y Gym
4           2025-01-10                        Exclusivo y Elegante dpto!

  Ingresos Totales
0           $26.83
1          $400.80
2           $14.17
3          $440.38
4           $22.61

In [31]:
# Convirtiendo la columna Ingresos Totales de object a date

# Eliminar el signo '$' y convertir a float
cleaned_DateTime_df['Ingresos Totales'] = (
    cleaned_DateTime_df['Ingresos Totales']
    .str.replace('$', '', regex=False)  # Eliminar el signo $
    .str.replace(',', '')  # Eliminar comas, si existen
    .astype(float)  # Convertir a float
)

# Verificar si hay valores NaN tras la conversión
if cleaned_DateTime_df['Ingresos Totales'].isna().any():
    print("Existen valores no válidos después de la conversión. Revisa los siguientes datos:")
    print(cleaned_DateTime_df[cleaned_DateTime_df['Ingresos Totales'].isna()])

# Mostrar el tipo de la columna después de la conversión
print("Tipo de la columna 'Ingresos Totales':", cleaned_DateTime_df['Ingresos Totales'].dtype)

Tipo de la columna 'Ingresos Totales': float64

In [32]:
# We are going to divide the DataFrame into 2 separated ones.
# One will be used for day to day transactions, such as occupancy rate. Used for: Occupancy rates, Booking lead time, Lenght Stay trends, Loyalty trends
# The other will be used for aggregated functions for property comparisons, between months. Used for: Earnings analysis, Demographic Analysis, Seasonal Analysis
# I have concluded to use a Power BI data table to aggregate date time variables

# Changing Property Name for simplicity and adding Property Type for further Analysis.
# First obtaining the unique values of Propiedad, the value is the title inputted for the AirBNB ad.
# Get unique values from the 'Propiedad' column
unique_properties = cleaned_df['Propiedad'].unique()

# Display the unique values
print("Unique values in 'Propiedad':")
print(unique_properties)

# Now that we have the values, we are going to change the property values for a more simple understanding

#No me cuadran los datos del Anuncio 'Nuevo y estratégico departamento en Equipetrol', no lo tengo en el listado de AirBNB
# Filtrar los datos para la propiedad 'Nuevo y estratégico departamento en Equipetrol'
filtered_df_dptoEquipetrol = cleaned_df[cleaned_df['Propiedad'] == 'Nuevo y estratégico departamento en Equipetrol']
print(filtered_df_dptoEquipetrol.head().sort_values('Ingreso', ascending=False))
# Llegue a la conclusion de que es el Macororo 8, un inmueble que fue ya fue vendido hace 2 años

Unique values in 'Propiedad':
['Exclusivo y Elegante dpto!'
 'En Equipetrol: Confort & Estilo, Ubicación Ideal'
 'SMART YOU: Confort y Estilo' 'Dpto. 3 Dorm. con Piscina y Gym'
 'Monoambiente exclusivo SKY Elite'
 'Sky Elite, departamento con parqueo, gym y más'
 'Sky Elite: tu destino en Equipetrol' 'Vive la experiencia de Sky Elite'
 'Confort y Estilo en Santa Cruz' 'SKY Elite: ¡Hospédate Aquí!'
 'Confort y Negocios en Santa Cruz' 'Senior Suite: Ejecutivos/Parejas'
 'Nuevo y estratégico departamento en Equipetrol'
 'Sky Luxia: Estilo y comodidad']
    Código de confirmación            Estado             Nombre del huésped  \
193             HM8EJYDC3M  Huésped anterior                    John Barron
194             HM3NH3XTEJ  Huésped anterior                  Airton Suarez
191             HMQENSESJA  Huésped anterior  Angeles Karen Claure Zambrana
192             HMNJJ5P2CH  Huésped anterior                      Hugo Aedo
195             HM2F8P2MKR  Huésped anterior                 Lesly Gonzales

    Contacto  Número de adultos  Número de niños  Número de bebés     Ingreso  \
193      NaN                  2                0                0  26/12/2022
194      NaN                  2                0                0  21/12/2022
191      NaN                  2                0                0   18/2/2023
192      NaN                  1                0                0   15/1/2023
195      NaN                  1                0                0  13/12/2022

         Salida  Número de noches Fecha de Reservación  \
193    3/1/2023                 8           2022-12-14
194  22/12/2022                 1           2022-12-21
191   21/2/2023                 3           2023-02-15
192   17/1/2023                 2           2023-01-15
195  14/12/2022                 1           2022-12-13

                                          Propiedad Ingresos Totales
193  Nuevo y estratégico departamento en Equipetrol          $218.68
194  Nuevo y estratégico departamento en Equipetrol           $42.68
191  Nuevo y estratégico departamento en Equipetrol           $98.75
192  Nuevo y estratégico departamento en Equipetrol           $75.66
195  Nuevo y estratégico departamento en Equipetrol           $42.68

In [33]:
# Replacing the values from the 'Propiedad' column, to simplify the analysis and understand what the value stands for

# Define the mapping dictionary
property_mapping = {
    'En Equipetrol: Confort & Estilo, Ubicación Ideal': 'MACORORO 12 - 12F',
    'SMART YOU: Confort y Estilo': 'YOU - 316',
    'Monoambiente exclusivo SKY Elite': 'SKY ELITE - 320',
    'Sky Elite, departamento con parqueo, gym y más': 'SKY ELITE - 132',
    'Sky Elite: tu destino en Equipetrol': 'SKY ELITE - 229',
    'Confort y Estilo en Santa Cruz': 'SKY ELITE - 115',
    'Confort y Negocios en Santa Cruz': 'TORRES SIRARI - 5A',
    'Nuevo y estratégico departamento en Equipetrol': 'MACORORO 8',
    'Dpto. 3 Dorm. con Piscina y Gym': 'MACORORO 15 - 8G',
    'Vive la experiencia de Sky Elite': 'SKY ELITE - 524',
    'SKY Elite: ¡Hospédate Aquí!': 'SKY ELITE - 323',
    'Senior Suite: Ejecutivos/Parejas': 'HOTEL RADISSON - SENIOR SUITE',
    'Exclusivo y Elegante dpto!': 'SKY ELITE - 510',
    'Sky Luxia: Estilo y comodidad': 'SKY LUXIA - 513'
}

# Replace the values in the 'Propiedad' column
cleaned_DateTime_df['Propiedad'] = cleaned_DateTime_df['Propiedad'].replace(property_mapping)

# Display the updated DataFrame
print(cleaned_DateTime_df.head())

# Reasuring the values have change correctly
unique_properties = cleaned_DateTime_df['Propiedad'].unique()
print(unique_properties)

  Código de confirmación                              Estado  \
0             HMM39A32MY  En espera de la reseña del huésped
1             HMHD29BF4W  En espera de la reseña del huésped
2             HMNFC2M2HE  En espera de la reseña del huésped
3             HMDX3FPRSE                    Huésped anterior
4             HMJWPAAE4S  En espera de la reseña del huésped

   Nombre del huésped           Contacto  Número de adultos  Número de niños  \
0   Leonardo Calasans  +55 21 99259-6924                  1                0
1  Brenda Lucas Braga  +55 75 98891-6342                  2                0
2        Martin Ortiz      +591 69609063                  2                0
3       Vianka Mamani    +56 9 7476 3088                  1                0
4        Diego Florez    +51 912 708 082                  1                0

   Número de bebés    Ingreso     Salida  Número de noches  \
0                0 2025-01-16 2025-01-20                 4
1                0 2025-01-04 2025-01-20                16
2                0 2025-01-18 2025-01-19                 1
3                0 2025-01-12 2025-01-19                 7
4                0 2025-01-10 2025-01-13                 3

  Fecha de Reservación          Propiedad  Ingresos Totales
0           2025-01-16    SKY ELITE - 510             26.83
1           2024-12-28  MACORORO 12 - 12F            400.80
2           2025-01-18          YOU - 316             14.17
3           2025-01-03   MACORORO 15 - 8G            440.38
4           2025-01-10    SKY ELITE - 510             22.61
['SKY ELITE - 510' 'MACORORO 12 - 12F' 'YOU - 316' 'MACORORO 15 - 8G'
 'SKY ELITE - 320' 'SKY ELITE - 132' 'SKY ELITE - 229' 'SKY ELITE - 524'
 'SKY ELITE - 115' 'SKY ELITE - 323' 'TORRES SIRARI - 5A'
 'HOTEL RADISSON - SENIOR SUITE' 'MACORORO 8' 'SKY LUXIA - 513']

In [34]:
# Adding Property Type to further our analysis, to underestand what type of properties perform better, mapping the values from 'Propiedad' 

# Define the mapping dictionary
property_type_mapping = {
    'MACORORO 12 - 12F': '1 Dormitorio',
    'YOU - 316': 'Monoambiente',
    'SKY ELITE - 320': 'Monoambiente',
    'SKY ELITE - 132': '1 Dormitorio',
    'SKY ELITE - 229': 'Monoambiente',
    'SKY ELITE - 115': 'Monoambiente',
    'TORRES SIRARI - 5A': '1 Dormitorio',
    'MACORORO 8': '1 Dormitorio',
    'MACORORO 15 - 8G': '3 Dormitorios',
    'SKY ELITE - 524': 'Monoambiente',
    'SKY ELITE - 323': 'Monoambiente',
    'HOTEL RADISSON - SENIOR SUITE': 'Senior Suite',
    'SKY ELITE - 510': 'Monoambiente',
    'SKY LUXIA - 513': 'Monoambiente'
}

# Create the new column 'Property Type' using the mapping dictionary
cleaned_DateTime_df['Property Type'] = cleaned_DateTime_df['Propiedad'].map(property_type_mapping)

# Display the updated DataFrame
print(cleaned_DateTime_df[['Propiedad', 'Property Type']].head())

           Propiedad  Property Type
0    SKY ELITE - 510   Monoambiente
1  MACORORO 12 - 12F   1 Dormitorio
2          YOU - 316   Monoambiente
3   MACORORO 15 - 8G  3 Dormitorios
4    SKY ELITE - 510   Monoambiente

In [35]:
# Adding if the properties are of our own (family) or one of our clients that we manage them for
# Define the mapping dictionary
property_management_mapping = {
    'MACORORO 12 - 12F': 'Propia',
    'YOU - 316': 'Administrada',
    'SKY ELITE - 320': 'Administrada',
    'SKY ELITE - 132': 'Administrada',
    'SKY ELITE - 229': 'Propia',
    'SKY ELITE - 115': 'Administrada',
    'TORRES SIRARI - 5A': 'Administrada',
    'MACORORO 8': 'Propia',
    'MACORORO 15 - 8G': 'Propia',
    'SKY ELITE - 524': 'Administrada',
    'SKY ELITE - 323': 'Administrada',
    'HOTEL RADISSON - SENIOR SUITE': 'Administrada',
    'SKY ELITE - 510': 'Administrada',
    'SKY LUXIA - 513': 'Administrada'
}

# Create the new column 'Gestion' using the mapping dictionary
cleaned_DateTime_df['Management'] = cleaned_DateTime_df['Propiedad'].map(property_management_mapping)

# Display the updated DataFrame
print(cleaned_DateTime_df[['Propiedad', 'Management']].head())

           Propiedad    Management
0    SKY ELITE - 510  Administrada
1  MACORORO 12 - 12F        Propia
2          YOU - 316  Administrada
3   MACORORO 15 - 8G        Propia
4    SKY ELITE - 510  Administrada

In [36]:
# Adding if the properties owners that we manage
# Define the mapping dictionary
property_owner_mapping = {
    'MACORORO 12 - 12F': 'Familia',
    'YOU - 316': 'Betty Vargas',
    'SKY ELITE - 320': 'Dr. Ortiz',
    'SKY ELITE - 132': 'Lic. Freddy Soria',
    'SKY ELITE - 229': 'Familia',
    'SKY ELITE - 115': 'Boris Ayviri',
    'TORRES SIRARI - 5A': 'Dr. Ortiz',
    'MACORORO 8': 'Familia',
    'MACORORO 15 - 8G': 'Familia',
    'SKY ELITE - 524': 'Dr. Ortiz',
    'SKY ELITE - 323': 'Dr. Ortiz',
    'HOTEL RADISSON - SENIOR SUITE': 'Roberto Vargas',
    'SKY ELITE - 510': 'Gabriela Salama',
    'SKY LUXIA - 513': 'Dr. Ortiz'
}

# Create the new column 'Gestion' using the mapping dictionary
cleaned_DateTime_df['Propietario'] = cleaned_DateTime_df['Propiedad'].map(property_owner_mapping)

# Display the updated DataFrame
print(cleaned_DateTime_df[['Propiedad', 'Propietario']].head())

           Propiedad      Propietario
0    SKY ELITE - 510  Gabriela Salama
1  MACORORO 12 - 12F          Familia
2          YOU - 316     Betty Vargas
3   MACORORO 15 - 8G          Familia
4    SKY ELITE - 510  Gabriela Salama

In [37]:
# Finding out if there are any missing values. Should have done it before, but I esxpect no missing value from an AirBNB platform

print(cleaned_df.isna().sum())

# We have 200 missing values in Contecto, none of them repeats themselves.
print(cleaned_df['Contacto'].value_counts())

# The DataFrame lenght is 207
print(len(cleaned_df))

Código de confirmación      0
Estado                      0
Nombre del huésped          0
Contacto                  207
Número de adultos           0
Número de niños             0
Número de bebés             0
Ingreso                     0
Salida                      0
Número de noches            0
Fecha de Reservación        0
Propiedad                   0
Ingresos Totales            0
dtype: int64
Contacto
+595 981 509952      2
+55 21 99259-6924    1
+591 69609063        1
+56 9 7476 3088      1
+51 912 708 082      1
+1 604-679-1612      1
+1 602-386-6258      1
+591 75022912        1
+591 78523182        1
+55 75 98891-6342    1
+55 69 98471-2538    1
+1 732-859-9067      1
+591 75369534        1
+55 16 98136-7125    1
+54 11 3151-2589     1
+595 985 592662      1
+591 72190072        1
+591 70011550        1
+591 61883528        1
+1 562-298-8185      1
+591 67004693        1
+591 79013564        1
+34 722 73 71 24     1
+61 429 693 749      1
+1 240-899-7551      1
+55 71 98406-5122    1
Name: count, dtype: int64
234

In [38]:
# Revision final a DataFrame que exportaremos para usar en el Power BI
print(cleaned_DateTime_df.describe())
print(cleaned_DateTime_df.info())
print(cleaned_DateTime_df.head())

# Entendiendo el DataSet, veo que el min de Ingresos Totales es casi 3$, lo que es un outlier, debe ser alguna compensacion por
# cancelacion de la reserva. Quiero revisar cuales son los posibles outliers, en todo caso seria datos por debajo del threshold
# los que busco, porque los datos de por encima del threshold si nos beneficia, el problema son los de abajo por algun tipo de
# cancelacion de la reserva.

Total_75th_IngresosTotales = cleaned_DateTime_df['Ingresos Totales'].quantile(0.75)
Total_25th_IngresosTotales = cleaned_DateTime_df['Ingresos Totales'].quantile(0.25)
IQR_IngresosTotales = Total_75th_IngresosTotales - Total_25th_IngresosTotales
lower_IngresosTotales = Total_25th_IngresosTotales - (1.5 * IQR_IngresosTotales)

# Subsetting to see the and understand the outliers
print(lower_IngresosTotales)
# Veo que mi Threshold es un numero negativo, por ende no tengo outliers matematicamente hablando
print(cleaned_DateTime_df[cleaned_DateTime_df['Ingresos Totales'] < lower_IngresosTotales])

       Número de adultos  Número de niños  Número de bebés  \
count         234.000000       234.000000       234.000000
mean            1.782051         0.064103         0.012821
min             1.000000         0.000000         0.000000
25%             1.000000         0.000000         0.000000
50%             2.000000         0.000000         0.000000
75%             2.000000         0.000000         0.000000
max             6.000000         3.000000         1.000000
std             0.802048         0.307548         0.112741

                             Ingreso                         Salida  \
count                            234                            234
mean   2024-06-14 19:04:36.923076864  2024-06-18 19:53:50.769230848
min              2022-02-25 00:00:00            2022-03-05 00:00:00
25%              2024-03-27 00:00:00            2024-03-29 06:00:00
50%              2024-07-18 00:00:00            2024-07-21 00:00:00
75%              2024-11-17 00:00:00            2024-11-25 00:00:00
max              2025-03-07 00:00:00            2025-03-10 00:00:00
std                              NaN                            NaN

       Número de noches Fecha de Reservación  Ingresos Totales
count        234.000000                  234        234.000000
mean           4.034188  2024-06-10 06:40:00         78.873761
min            1.000000  2022-02-24 00:00:00          3.930000
25%            1.000000  2024-03-16 06:00:00         18.077500
50%            2.000000  2024-07-13 12:00:00         35.325000
75%            4.750000  2024-11-16 18:00:00         96.272500
max           28.000000  2025-03-05 00:00:00        544.170000
std            4.698519                  NaN         99.536200
<class 'pandas.core.frame.DataFrame'>
Index: 234 entries, 0 to 261
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Código de confirmación  234 non-null    object
 1   Estado                  234 non-null    object
 2   Nombre del huésped      234 non-null    object
 3   Contacto                27 non-null     object
 4   Número de adultos       234 non-null    int64
 5   Número de niños         234 non-null    int64
 6   Número de bebés         234 non-null    int64
 7   Ingreso                 234 non-null    datetime64[ns]
 8   Salida                  234 non-null    datetime64[ns]
 9   Número de noches        234 non-null    int64
 10  Fecha de Reservación    234 non-null    datetime64[ns]
 11  Propiedad               234 non-null    object
 12  Ingresos Totales        234 non-null    float64
 13  Property Type           234 non-null    object
 14  Management              234 non-null    object
 15  Propietario             234 non-null    object
dtypes: datetime64[ns](3), float64(1), int64(4), object(8)
memory usage: 31.1+ KB
None
  Código de confirmación                              Estado  \
0             HMM39A32MY  En espera de la reseña del huésped
1             HMHD29BF4W  En espera de la reseña del huésped
2             HMNFC2M2HE  En espera de la reseña del huésped
3             HMDX3FPRSE                    Huésped anterior
4             HMJWPAAE4S  En espera de la reseña del huésped

   Nombre del huésped           Contacto  Número de adultos  Número de niños  \
0   Leonardo Calasans  +55 21 99259-6924                  1                0
1  Brenda Lucas Braga  +55 75 98891-6342                  2                0
2        Martin Ortiz      +591 69609063                  2                0
3       Vianka Mamani    +56 9 7476 3088                  1                0
4        Diego Florez    +51 912 708 082                  1                0

   Número de bebés    Ingreso     Salida  Número de noches  \
0                0 2025-01-16 2025-01-20                 4
1                0 2025-01-04 2025-01-20                16
2                0 2025-01-18 2025-01-19                 1
3                0 2025-01-12 2025-01-19                 7
4                0 2025-01-10 2025-01-13                 3

  Fecha de Reservación          Propiedad  Ingresos Totales  Property Type  \
0           2025-01-16    SKY ELITE - 510             26.83   Monoambiente
1           2024-12-28  MACORORO 12 - 12F            400.80   1 Dormitorio
2           2025-01-18          YOU - 316             14.17   Monoambiente
3           2025-01-03   MACORORO 15 - 8G            440.38  3 Dormitorios
4           2025-01-10    SKY ELITE - 510             22.61   Monoambiente

     Management      Propietario
0  Administrada  Gabriela Salama
1        Propia          Familia
2  Administrada     Betty Vargas
3        Propia          Familia
4  Administrada  Gabriela Salama
-99.21500000000002
Empty DataFrame
Columns: [Código de confirmación, Estado, Nombre del huésped, Contacto, Número de adultos, Número de niños, Número de bebés, Ingreso, Salida, Número de noches, Fecha de Reservación, Propiedad, Ingresos Totales, Property Type, Management, Propietario]
Index: []

In [39]:
# Buscare cuales son los outliers por Propiedad
min_Ingresos_per_property = cleaned_DateTime_df.groupby('Propiedad')['Ingresos Totales'].min()
print(min_Ingresos_per_property.sort_values())

# Veo que el SKY ELITE - 510 es el unico que tiene un minimo que no cuadra
print(cleaned_DateTime_df[cleaned_DateTime_df['Ingresos Totales'] == 3.93])
print(cleaned_DateTime_df[cleaned_DateTime_df['Ingresos Totales'] < 10])

# Removing the outlier but as another DataFrame, I'll set arbitrary a threshold of 10 as an outlier, to the min values of other
# propierties are around 13$ as min
# Filter rows where 'Ingresos Totales' is greater than 10 and create a new DataFrame
cleaned_Outliers_df = cleaned_DateTime_df[cleaned_DateTime_df["Ingresos Totales"] > 10].copy()

print(cleaned_Outliers_df.describe())

Propiedad
SKY ELITE - 510                    3.93
SKY ELITE - 320                   13.62
SKY ELITE - 524                   13.62
YOU - 316                         13.88
SKY ELITE - 323                   14.17
SKY ELITE - 115                   14.17
TORRES SIRARI - 5A                14.76
SKY ELITE - 132                   16.60
SKY LUXIA - 513                   21.74
SKY ELITE - 229                   23.57
MACORORO 12 - 12F                 33.27
MACORORO 8                        35.68
HOTEL RADISSON - SENIOR SUITE     75.66
MACORORO 15 - 8G                 148.41
Name: Ingresos Totales, dtype: float64
   Código de confirmación            Estado Nombre del huésped Contacto  \
27             HM9TD4MP2J  Huésped anterior          Yaya Wang      NaN
28             HMC8TKPABK  Huésped anterior      Alba Castillo      NaN

    Número de adultos  Número de niños  Número de bebés    Ingreso     Salida  \
27                  1                0                0 2024-12-01 2024-12-02
28                  2                0                0 2024-11-29 2024-11-30

    Número de noches Fecha de Reservación        Propiedad  Ingresos Totales  \
27                 1           2024-11-29  SKY ELITE - 510              3.93
28                 1           2024-11-29  SKY ELITE - 510              3.93

   Property Type    Management      Propietario
27  Monoambiente  Administrada  Gabriela Salama
28  Monoambiente  Administrada  Gabriela Salama
   Código de confirmación            Estado Nombre del huésped Contacto  \
27             HM9TD4MP2J  Huésped anterior          Yaya Wang      NaN
28             HMC8TKPABK  Huésped anterior      Alba Castillo      NaN

    Número de adultos  Número de niños  Número de bebés    Ingreso     Salida  \
27                  1                0                0 2024-12-01 2024-12-02
28                  2                0                0 2024-11-29 2024-11-30

    Número de noches Fecha de Reservación        Propiedad  Ingresos Totales  \
27                 1           2024-11-29  SKY ELITE - 510              3.93
28                 1           2024-11-29  SKY ELITE - 510              3.93

   Property Type    Management      Propietario
27  Monoambiente  Administrada  Gabriela Salama
28  Monoambiente  Administrada  Gabriela Salama
       Número de adultos  Número de niños  Número de bebés  \
count         232.000000       232.000000       232.000000
mean            1.784483         0.064655         0.012931
min             1.000000         0.000000         0.000000
25%             1.000000         0.000000         0.000000
50%             2.000000         0.000000         0.000000
75%             2.000000         0.000000         0.000000
max             6.000000         3.000000         1.000000
std             0.803736         0.308818         0.113221

                             Ingreso                         Salida  \
count                            232                            232
mean   2024-06-13 08:16:33.103448320  2024-06-17 09:43:26.896551680
min              2022-02-25 00:00:00            2022-03-05 00:00:00
25%              2024-03-27 00:00:00            2024-03-28 18:00:00
50%              2024-07-16 00:00:00            2024-07-19 00:00:00
75%              2024-11-07 06:00:00            2024-11-19 00:00:00
max              2025-03-07 00:00:00            2025-03-10 00:00:00
std                              NaN                            NaN

       Número de noches           Fecha de Reservación  Ingresos Totales
count        232.000000                            232        232.000000
mean           4.060345  2024-06-08 19:08:16.551724032         79.519828
min            1.000000            2022-02-24 00:00:00         11.790000
25%            1.000000            2024-03-15 18:00:00         18.317500
50%            2.000000            2024-07-11 12:00:00         35.550000
75%            5.000000            2024-11-06 06:00:00         97.437500
max           28.000000            2025-03-05 00:00:00        544.170000
std            4.710289                            NaN         99.720542

In [40]:
'''
# For global Analysis
#print(cleaned_Outliers_df.info())

# Night's book DataFrame, to see the Ocupancy rate per property and the average # of Nights per property. We'll also see average
# Booking Lead Time per property
ocupancy_property_df = cleaned_Outliers_df[['Ingreso', 'Salida', 'Número de noches', 'Fecha de Reservación', 'Propiedad', 'Ingresos Totales', 'Property Type']].copy()

# Agregar Mes y Año
ocupancy_property_df["Month"] = ocupancy_property_df["Ingreso"].dt.month
ocupancy_property_df["Year"] = ocupancy_property_df["Ingreso"].dt.year

# Calculate Booking Lead Time (Days Between Booking and Check-In)
ocupancy_property_df["Lead Time"] = (ocupancy_property_df["Ingreso"] - ocupancy_property_df["Fecha de Reservación"]).dt.days
#print(ocupancy_property_df.head())

# ------------------ OCCUPANCY RATE AND BOOKING LEAD TIME FOR PROPERTY ------------------
# Aggregate Nights Booked per Property, Month, Year
occupancy_prop_df = ocupancy_property_df.groupby(["Propiedad", "Month", "Year"]).agg({
    "Número de noches": "sum",
    "Lead Time": "mean"}).reset_index()
occupancy_prop_df.rename(columns={"Número de noches": "Total Nights Booked per Property", "Lead Time": "Avg Lead Time per Property"}, inplace=True)

# Calculate Total Available Nights Based on Month
import calendar
occupancy_prop_df["Total Available Nights"] = occupancy_prop_df["Month"].apply(lambda x: calendar.monthrange(2024, x)[1])

# Calculate Occupancy Rate for Each Property
occupancy_prop_df["Occupancy Rate (%)"] = (occupancy_prop_df["Total Nights Booked per Property"] / occupancy_prop_df["Total Available Nights"]) * 100
print(occupancy_prop_df.head())

# ------------------ OCCUPANCY RATE FOR PROPERTY TYPE ------------------
occupancy_type_df = ocupancy_property_df.groupby(["Property Type", "Month", "Year"]).agg({
    "Número de noches": "sum",
    "Lead Time": "mean"}).reset_index()
occupancy_type_df.rename(columns={"Número de noches": "Total Nights Booked per Property Type", "Lead Time": "Avg Lead Time per Property Type"}, inplace=True)

# Calculate Total Available Nights Based on Month
occupancy_type_df["Total Available Nights"] = occupancy_type_df["Month"].apply(lambda x: calendar.monthrange(2024, x)[1])

# Calculate Occupancy Rate for Each Property Type
occupancy_type_df["Occupancy Rate (%)"] = (occupancy_type_df["Total Nights Booked per Property Type"] / occupancy_type_df["Total Available Nights"]) * 100
print(occupancy_type_df.head())


# One will be used for day to day transactions, such as occupancy rate. Used for: Occupancy rates, Booking lead time, Lenght Stay trends, Loyalty trends
# The other will be used for aggregated functions for property comparisons, between months. Used for: Earnings analysis, Demographic Analysis, Seasonal Analysis
'''

'\n# For global Analysis\n#print(cleaned_Outliers_df.info())\n\n# Night\'s book DataFrame, to see the Ocupancy rate per property and the average # of Nights per property. We\'ll also see average\n# Booking Lead Time per property\nocupancy_property_df = cleaned_Outliers_df[[\'Ingreso\', \'Salida\', \'Número de noches\', \'Fecha de Reservación\', \'Propiedad\', \'Ingresos Totales\', \'Property Type\']].copy()\n\n# Agregar Mes y Año\nocupancy_property_df["Month"] = ocupancy_property_df["Ingreso"].dt.month\nocupancy_property_df["Year"] = ocupancy_property_df["Ingreso"].dt.year\n\n# Calculate Booking Lead Time (Days Between Booking and Check-In)\nocupancy_property_df["Lead Time"] = (ocupancy_property_df["Ingreso"] - ocupancy_property_df["Fecha de Reservación"]).dt.days\n#print(ocupancy_property_df.head())\n\n# ------------------ OCCUPANCY RATE AND BOOKING LEAD TIME FOR PROPERTY ------------------\n# Aggregate Nights Booked per Property, Month, Year\noccupancy_prop_df = ocupancy_property_df.groupby(["Propiedad", "Month", "Year"]).agg({\n    "Número de noches": "sum",\n    "Lead Time": "mean"}).reset_index()\noccupancy_prop_df.rename(columns={"Número de noches": "Total Nights Booked per Property", "Lead Time": "Avg Lead Time per Property"}, inplace=True)\n\n# Calculate Total Available Nights Based on Month\nimport calendar\noccupancy_prop_df["Total Available Nights"] = occupancy_prop_df["Month"].apply(lambda x: calendar.monthrange(2024, x)[1])\n\n# Calculate Occupancy Rate for Each Property\noccupancy_prop_df["Occupancy Rate (%)"] = (occupancy_prop_df["Total Nights Booked per Property"] / occupancy_prop_df["Total Available Nights"]) * 100\nprint(occupancy_prop_df.head())\n\n# ------------------ OCCUPANCY RATE FOR PROPERTY TYPE ------------------\noccupancy_type_df = ocupancy_property_df.groupby(["Property Type", "Month", "Year"]).agg({\n    "Número de noches": "sum",\n    "Lead Time": "mean"}).reset_index()\noccupancy_type_df.rename(columns={"Número de noches": "Total Nights Booked per Property Type", "Lead Time": "Avg Lead Time per Property Type"}, inplace=True)\n\n# Calculate Total Available Nights Based on Month\noccupancy_type_df["Total Available Nights"] = occupancy_type_df["Month"].apply(lambda x: calendar.monthrange(2024, x)[1])\n\n# Calculate Occupancy Rate for Each Property Type\noccupancy_type_df["Occupancy Rate (%)"] = (occupancy_type_df["Total Nights Booked per Property Type"] / occupancy_type_df["Total Available Nights"]) * 100\nprint(occupancy_type_df.head())\n\n\n# One will be used for day to day transactions, such as occupancy rate. Used for: Occupancy rates, Booking lead time, Lenght Stay trends, Loyalty trends\n# The other will be used for aggregated functions for property comparisons, between months. Used for: Earnings analysis, Demographic Analysis, Seasonal Analysis\n'

In [41]:
'''
# There was an interpretation mistake done while making the occupancy rate analysis.
# There are months were there were no bookings, are this months are actually not shown in the current dataframe.
# All months must appear and if no bookings are registered, there should be a 0% occupancy rate
# Months should start count from the first month the first property was offered, in the "Ingreso" column

from datetime import datetime

# Get current year and month (real-time reference)
current_year = datetime.today().year
current_month = datetime.today().month

# Get the first 'Ingreso' (first booking date) for each property
first_offer_date = ocupancy_property_df.groupby("Propiedad")["Ingreso"].min().reset_index()
first_offer_date.rename(columns={"Ingreso": "First Ingreso"}, inplace=True)

first_offer_date["First Year"] = first_offer_date["First Ingreso"].dt.year
first_offer_date["First Month"] = first_offer_date["First Ingreso"].dt.month

# Get the full date range from the first to the last 'Ingreso'
min_year, min_month = ocupancy_property_df["Ingreso"].min().year, ocupancy_property_df["Ingreso"].min().month

from itertools import product

# Create a full list of month-year combinations
all_months_years = pd.DataFrame(
    list(product(range(min_year, current_year + 1), range(1, 13))),
    columns=["Year", "Month"]
)

# Filter to ensure we don't include months beyond the current real-time month
all_months_years = all_months_years[
    (all_months_years["Year"] < current_year) | 
    ((all_months_years["Year"] == current_year) & (all_months_years["Month"] <= current_month))
]

# ------------------ COMPLETE OCCUPANCY DATA PER PROPERTY ------------------

# Get all unique properties
all_properties = ocupancy_property_df[['Propiedad']].drop_duplicates()

# Cross join properties with all months/years
full_prop_df = all_properties.merge(all_months_years, how="cross")

# Merge to get the first offer date per property
full_prop_df = full_prop_df.merge(first_offer_date, on="Propiedad", how="left")

# Filter out months before the property was offered
full_prop_df = full_prop_df[
    (full_prop_df["Year"] > full_prop_df["First Year"]) | 
    ((full_prop_df["Year"] == full_prop_df["First Year"]) & (full_prop_df["Month"] >= full_prop_df["First Month"]))
]

# Drop unnecessary columns
full_prop_df2 = full_prop_df.drop(columns=["First Ingreso", "First Year", "First Month"]).copy()

# Merge with existing occupancy data into a new DataFrame
occupancy_prop_df2 = full_prop_df2.merge(occupancy_prop_df, on=["Propiedad", "Year", "Month"], how="left")

# Fill missing values with 0 for occupancy-related metrics
occupancy_prop_df2["Total Nights Booked per Property"] = occupancy_prop_df2["Total Nights Booked per Property"].fillna(0)
occupancy_prop_df2["Total Available Nights"] = occupancy_prop_df2["Month"].apply(lambda x: calendar.monthrange(2024, x)[1])
occupancy_prop_df2["Occupancy Rate (%)"] = (occupancy_prop_df2["Total Nights Booked per Property"] / occupancy_prop_df2["Total Available Nights"]) * 100

print(occupancy_prop_df2.head())
'''

'\n# There was an interpretation mistake done while making the occupancy rate analysis.\n# There are months were there were no bookings, are this months are actually not shown in the current dataframe.\n# All months must appear and if no bookings are registered, there should be a 0% occupancy rate\n# Months should start count from the first month the first property was offered, in the "Ingreso" column\n\nfrom datetime import datetime\n\n# Get current year and month (real-time reference)\ncurrent_year = datetime.today().year\ncurrent_month = datetime.today().month\n\n# Get the first \'Ingreso\' (first booking date) for each property\nfirst_offer_date = ocupancy_property_df.groupby("Propiedad")["Ingreso"].min().reset_index()\nfirst_offer_date.rename(columns={"Ingreso": "First Ingreso"}, inplace=True)\n\nfirst_offer_date["First Year"] = first_offer_date["First Ingreso"].dt.year\nfirst_offer_date["First Month"] = first_offer_date["First Ingreso"].dt.month\n\n# Get the full date range from the first to the last \'Ingreso\'\nmin_year, min_month = ocupancy_property_df["Ingreso"].min().year, ocupancy_property_df["Ingreso"].min().month\n\nfrom itertools import product\n\n# Create a full list of month-year combinations\nall_months_years = pd.DataFrame(\n    list(product(range(min_year, current_year + 1), range(1, 13))),\n    columns=["Year", "Month"]\n)\n\n# Filter to ensure we don\'t include months beyond the current real-time month\nall_months_years = all_months_years[\n    (all_months_years["Year"] < current_year) | \n    ((all_months_years["Year"] == current_year) & (all_months_years["Month"] <= current_month))\n]\n\n# ------------------ COMPLETE OCCUPANCY DATA PER PROPERTY ------------------\n\n# Get all unique properties\nall_properties = ocupancy_property_df[[\'Propiedad\']].drop_duplicates()\n\n# Cross join properties with all months/years\nfull_prop_df = all_properties.merge(all_months_years, how="cross")\n\n# Merge to get the first offer date per property\nfull_prop_df = full_prop_df.merge(first_offer_date, on="Propiedad", how="left")\n\n# Filter out months before the property was offered\nfull_prop_df = full_prop_df[\n    (full_prop_df["Year"] > full_prop_df["First Year"]) | \n    ((full_prop_df["Year"] == full_prop_df["First Year"]) & (full_prop_df["Month"] >= full_prop_df["First Month"]))\n]\n\n# Drop unnecessary columns\nfull_prop_df2 = full_prop_df.drop(columns=["First Ingreso", "First Year", "First Month"]).copy()\n\n# Merge with existing occupancy data into a new DataFrame\noccupancy_prop_df2 = full_prop_df2.merge(occupancy_prop_df, on=["Propiedad", "Year", "Month"], how="left")\n\n# Fill missing values with 0 for occupancy-related metrics\noccupancy_prop_df2["Total Nights Booked per Property"] = occupancy_prop_df2["Total Nights Booked per Property"].fillna(0)\noccupancy_prop_df2["Total Available Nights"] = occupancy_prop_df2["Month"].apply(lambda x: calendar.monthrange(2024, x)[1])\noccupancy_prop_df2["Occupancy Rate (%)"] = (occupancy_prop_df2["Total Nights Booked per Property"] / occupancy_prop_df2["Total Available Nights"]) * 100\n\nprint(occupancy_prop_df2.head())\n'

In [42]:
'''
# We continue with the occupancy_type_df, where apart from the mistake made with occupancy_prop_df, there were also months
# were the occupancy rate was more than 100%, this is due because there might be more than 1 porperty as a property type,
# meaning that when we sum up the booked nights, we might get more than the total aviable nights. Total aviable nights should be
# dynamic, depending on the number of properties in a property type and month


# ------------------ COMPLETE OCCUPANCY DATA PER PROPERTY TYPE ------------------

# Map each property to its property type
property_type_mapping = ocupancy_property_df[['Propiedad', 'Property Type']].drop_duplicates()

# Merge to get the first booking date per property type
property_first_booking = first_offer_date.merge(property_type_mapping, on="Propiedad", how="left")

# Get first offer date per property type (Earliest Date for each Property Type)
property_first_booking = property_first_booking.groupby("Property Type")["First Ingreso"].min().reset_index()
property_first_booking["First Year"] = property_first_booking["First Ingreso"].dt.year
property_first_booking["First Month"] = property_first_booking["First Ingreso"].dt.month

# Get all unique property types
all_property_types = ocupancy_property_df[['Property Type']].drop_duplicates()

# Cross join property types with all months/years (Reuse 'all_months_years')
full_type_df = all_property_types.merge(all_months_years, how="cross")

# Merge with the first available booking date per property type
full_type_df = full_type_df.merge(property_first_booking, on="Property Type", how="left")


# FILTER OUT MONTHS BEFORE THE FIRST TIME A PROPERTY TYPE WAS OFFERED
full_type_df = full_type_df[
    (full_type_df["Year"] > full_type_df["First Year"]) | 
    ((full_type_df["Year"] == full_type_df["First Year"]) & (full_type_df["Month"] >= full_type_df["First Month"]))
]

# Drop unnecessary columns
full_type_df = full_type_df.drop(columns=["First Ingreso", "First Year", "First Month"]).copy()

# Count available properties per type each month (Reuse 'ocupancy_property_df')
available_properties_per_month = ocupancy_property_df.groupby(["Property Type", "Year", "Month"])["Propiedad"].nunique().reset_index()
available_properties_per_month.rename(columns={"Propiedad": "Available Properties"}, inplace=True)

# Merge to get the number of properties available each month per type
full_type_df = full_type_df.merge(available_properties_per_month, on=["Property Type", "Year", "Month"], how="left")

# Fill NaN values (months with 0 properties should be counted as 0)
full_type_df["Available Properties"] = full_type_df["Available Properties"].fillna(0)

# Merge with existing occupancy data (Reuse 'occupancy_type_df')
occupancy_type_df2 = full_type_df.merge(occupancy_type_df, on=["Property Type", "Year", "Month"], how="left")

# Fill missing values with 0 for total nights booked
occupancy_type_df2["Total Nights Booked per Property Type"] = occupancy_type_df2["Total Nights Booked per Property Type"].fillna(0)

# Ensure available nights are calculated correctly even if there are no bookings
occupancy_type_df2["Total Available Nights"] = occupancy_type_df2.apply(
    lambda row: max(row["Available Properties"], 1) * calendar.monthrange(row["Year"], row["Month"])[1], axis=1
)

# Compute Corrected Occupancy Rate
occupancy_type_df2["Occupancy Rate (%)"] = (
    occupancy_type_df2["Total Nights Booked per Property Type"] / occupancy_type_df2["Total Available Nights"]
) * 100

# Ensure no occupancy rate exceeds 100%
occupancy_type_df2["Occupancy Rate (%)"] = occupancy_type_df2["Occupancy Rate (%)"].clip(upper=100)

print(occupancy_type_df2.head())
'''

'\n# We continue with the occupancy_type_df, where apart from the mistake made with occupancy_prop_df, there were also months\n# were the occupancy rate was more than 100%, this is due because there might be more than 1 porperty as a property type,\n# meaning that when we sum up the booked nights, we might get more than the total aviable nights. Total aviable nights should be\n# dynamic, depending on the number of properties in a property type and month\n\n\n# ------------------ COMPLETE OCCUPANCY DATA PER PROPERTY TYPE ------------------\n\n# Map each property to its property type\nproperty_type_mapping = ocupancy_property_df[[\'Propiedad\', \'Property Type\']].drop_duplicates()\n\n# Merge to get the first booking date per property type\nproperty_first_booking = first_offer_date.merge(property_type_mapping, on="Propiedad", how="left")\n\n# Get first offer date per property type (Earliest Date for each Property Type)\nproperty_first_booking = property_first_booking.groupby("Property Type")["First Ingreso"].min().reset_index()\nproperty_first_booking["First Year"] = property_first_booking["First Ingreso"].dt.year\nproperty_first_booking["First Month"] = property_first_booking["First Ingreso"].dt.month\n\n# Get all unique property types\nall_property_types = ocupancy_property_df[[\'Property Type\']].drop_duplicates()\n\n# Cross join property types with all months/years (Reuse \'all_months_years\')\nfull_type_df = all_property_types.merge(all_months_years, how="cross")\n\n# Merge with the first available booking date per property type\nfull_type_df = full_type_df.merge(property_first_booking, on="Property Type", how="left")\n\n\n# FILTER OUT MONTHS BEFORE THE FIRST TIME A PROPERTY TYPE WAS OFFERED\nfull_type_df = full_type_df[\n    (full_type_df["Year"] > full_type_df["First Year"]) | \n    ((full_type_df["Year"] == full_type_df["First Year"]) & (full_type_df["Month"] >= full_type_df["First Month"]))\n]\n\n# Drop unnecessary columns\nfull_type_df = full_type_df.drop(columns=["First Ingreso", "First Year", "First Month"]).copy()\n\n# Count available properties per type each month (Reuse \'ocupancy_property_df\')\navailable_properties_per_month = ocupancy_property_df.groupby(["Property Type", "Year", "Month"])["Propiedad"].nunique().reset_index()\navailable_properties_per_month.rename(columns={"Propiedad": "Available Properties"}, inplace=True)\n\n# Merge to get the number of properties available each month per type\nfull_type_df = full_type_df.merge(available_properties_per_month, on=["Property Type", "Year", "Month"], how="left")\n\n# Fill NaN values (months with 0 properties should be counted as 0)\nfull_type_df["Available Properties"] = full_type_df["Available Properties"].fillna(0)\n\n# Merge with existing occupancy data (Reuse \'occupancy_type_df\')\noccupancy_type_df2 = full_type_df.merge(occupancy_type_df, on=["Property Type", "Year", "Month"], how="left")\n\n# Fill missing values with 0 for total nights booked\noccupancy_type_df2["Total Nights Booked per Property Type"] = occupancy_type_df2["Total Nights Booked per Property Type"].fillna(0)\n\n# Ensure available nights are calculated correctly even if there are no bookings\noccupancy_type_df2["Total Available Nights"] = occupancy_type_df2.apply(\n    lambda row: max(row["Available Properties"], 1) * calendar.monthrange(row["Year"], row["Month"])[1], axis=1\n)\n\n# Compute Corrected Occupancy Rate\noccupancy_type_df2["Occupancy Rate (%)"] = (\n    occupancy_type_df2["Total Nights Booked per Property Type"] / occupancy_type_df2["Total Available Nights"]\n) * 100\n\n# Ensure no occupancy rate exceeds 100%\noccupancy_type_df2["Occupancy Rate (%)"] = occupancy_type_df2["Occupancy Rate (%)"].clip(upper=100)\n\nprint(occupancy_type_df2.head())\n'

In [43]:
'''
# Customer Analysis
# I'll be creating a customer_loyalty_df to see which customers re used our services, percent of customers that only used once our 
# services, and percent of customers that used more than once our services. Demography of our clients

customer_df = cleaned_Outliers_df[['Código de confirmación', 'Nombre del huésped', 'Contacto', 'Número de adultos', 'Número de niños', 'Número de bebés', 'Propiedad', 'Ingresos Totales', 'Property Type']].copy()

# Crear un identificador único por huésped (puede ser nombre o contacto si falta el nombre)
customer_df["Guest Identifier"] = customer_df.apply(lambda x: x["Nombre del huésped"] if pd.notna(x["Nombre del huésped"]) else x["Contacto"], axis=1)

# Agrupar por huésped y contar la cantidad de reservas (Total Bookings)
customer_loyalty_df = customer_df.groupby("Guest Identifier").agg({"Código de confirmación": "nunique"}).reset_index()

# Renombrar columnas
customer_loyalty_df.rename(columns={"Código de confirmación": "Total Bookings"}, inplace=True)
customer_loyalty_df = customer_loyalty_df.sort_values(by="Total Bookings", ascending=False)
print(customer_loyalty_df.head())
print(customer_loyalty_df.info())
print(customer_loyalty_df.describe())
'''

'\n# Customer Analysis\n# I\'ll be creating a customer_loyalty_df to see which customers re used our services, percent of customers that only used once our \n# services, and percent of customers that used more than once our services. Demography of our clients\n\ncustomer_df = cleaned_Outliers_df[[\'Código de confirmación\', \'Nombre del huésped\', \'Contacto\', \'Número de adultos\', \'Número de niños\', \'Número de bebés\', \'Propiedad\', \'Ingresos Totales\', \'Property Type\']].copy()\n\n# Crear un identificador único por huésped (puede ser nombre o contacto si falta el nombre)\ncustomer_df["Guest Identifier"] = customer_df.apply(lambda x: x["Nombre del huésped"] if pd.notna(x["Nombre del huésped"]) else x["Contacto"], axis=1)\n\n# Agrupar por huésped y contar la cantidad de reservas (Total Bookings)\ncustomer_loyalty_df = customer_df.groupby("Guest Identifier").agg({"Código de confirmación": "nunique"}).reset_index()\n\n# Renombrar columnas\ncustomer_loyalty_df.rename(columns={"Código de confirmación": "Total Bookings"}, inplace=True)\ncustomer_loyalty_df = customer_loyalty_df.sort_values(by="Total Bookings", ascending=False)\nprint(customer_loyalty_df.head())\nprint(customer_loyalty_df.info())\nprint(customer_loyalty_df.describe())\n'

In [44]:
'''
# Customer Demographic

# ------------------ CUSTOMER DEMOGRAPHICS PER PROPERTY ------------------
customer_demograph_property_df = customer_df.groupby(["Propiedad"]).agg({
    "Número de adultos": "sum",
    "Número de niños": "sum",
    "Número de bebés": "sum",
    "Código de confirmación": "count"  # Total bookings per property
}).reset_index()

customer_demograph_property_df.rename(columns={"Confirmation Code": "Total Bookings"}, inplace=True)
print(customer_demograph_property_df)

# ------------------ CUSTOMER DEMOGRAPHICS PER PROPERTY TYPE ------------------
customer_demograph_type_df = customer_df.groupby(["Property Type"]).agg({
    "Número de adultos": "sum",
    "Número de niños": "sum",
    "Número de bebés": "sum",
    "Código de confirmación": "count"
}).reset_index()

customer_demograph_type_df.rename(columns={"Confirmation Code": "Total Bookings"}, inplace=True)
print(customer_demograph_type_df)
'''

'\n# Customer Demographic\n\n# ------------------ CUSTOMER DEMOGRAPHICS PER PROPERTY ------------------\ncustomer_demograph_property_df = customer_df.groupby(["Propiedad"]).agg({\n    "Número de adultos": "sum",\n    "Número de niños": "sum",\n    "Número de bebés": "sum",\n    "Código de confirmación": "count"  # Total bookings per property\n}).reset_index()\n\ncustomer_demograph_property_df.rename(columns={"Confirmation Code": "Total Bookings"}, inplace=True)\nprint(customer_demograph_property_df)\n\n# ------------------ CUSTOMER DEMOGRAPHICS PER PROPERTY TYPE ------------------\ncustomer_demograph_type_df = customer_df.groupby(["Property Type"]).agg({\n    "Número de adultos": "sum",\n    "Número de niños": "sum",\n    "Número de bebés": "sum",\n    "Código de confirmación": "count"\n}).reset_index()\n\ncustomer_demograph_type_df.rename(columns={"Confirmation Code": "Total Bookings"}, inplace=True)\nprint(customer_demograph_type_df)\n'

In [45]:
# Exporting tables to csv

# cleaned_DateTime_df will be used as an Earning Analysis table
cleaned_DateTime_df.to_csv("cleaned_DataFrame.csv", index=False)
# cleaned_Outliers_df will be used for statistics that can be influenced from a skewed distributions such as mean
cleaned_Outliers_df.to_csv("cleaned_Outliers.csv", index=False)
'''
# occupancy_prop_df will be used for occupancy rate and leading time analysis
occupancy_prop_df.to_csv("occupancy_leading_by_property.csv", index=False)
# occupancy_type_df will be used for occupancy rate and leading time analysis
occupancy_type_df.to_csv("occupancy_leading_by_property_type.csv", index=False)
# customer_loyalty_df will be used to answer, are our services re used, or just used once?
customer_loyalty_df.to_csv("customer_loyalty_demographics.csv", index=False)
# customer_demograph_property_df circle graph to see demography in properties
customer_demograph_property_df.to_csv("customer_demographics_by_property.csv", index=False)
# customer_demograph_type_df circle graph to see demography in property types
customer_demograph_type_df.to_csv("customer_demographics_by_property_type.csv", index=False)
# occupancy_prop_df2 will be used for occupancy rate, this is the offical version
occupancy_prop_df2.to_csv("occupancy_by_property.csv", index=False)
# occupancy_type_df2 will be used for occupancy rate, this is the official version
occupancy_type_df2.to_csv("occupancy_by_type.csv", index=False)
'''

'\n# occupancy_prop_df will be used for occupancy rate and leading time analysis\noccupancy_prop_df.to_csv("occupancy_leading_by_property.csv", index=False)\n# occupancy_type_df will be used for occupancy rate and leading time analysis\noccupancy_type_df.to_csv("occupancy_leading_by_property_type.csv", index=False)\n# customer_loyalty_df will be used to answer, are our services re used, or just used once?\ncustomer_loyalty_df.to_csv("customer_loyalty_demographics.csv", index=False)\n# customer_demograph_property_df circle graph to see demography in properties\ncustomer_demograph_property_df.to_csv("customer_demographics_by_property.csv", index=False)\n# customer_demograph_type_df circle graph to see demography in property types\ncustomer_demograph_type_df.to_csv("customer_demographics_by_property_type.csv", index=False)\n# occupancy_prop_df2 will be used for occupancy rate, this is the offical version\noccupancy_prop_df2.to_csv("occupancy_by_property.csv", index=False)\n# occupancy_type_df2 will be used for occupancy rate, this is the official version\noccupancy_type_df2.to_csv("occupancy_by_type.csv", index=False)\n'

In [46]:
'''
# We have a 1 year contract offer to rent Sky Elite 229 property, for 500$ a month.
# We want to see if the performance in AirBNB is better than those 500$

# Asegurarse de que la columna 'Ingreso' esté en formato de fecha
cleaned_df['Ingreso'] = pd.to_datetime(cleaned_df['Ingreso'])

# Filtrar los datos para la propiedad 'Sky Elite: tu destino en Equipetrol'
filtered_df_SkyElite = cleaned_df[cleaned_df['Propiedad'] == 'Sky Elite: tu destino en Equipetrol']

# Crear columnas para mes y año basadas en 'Ingreso'
filtered_df_SkyElite['Mes'] = filtered_df_SkyElite['Ingreso'].dt.month
filtered_df_SkyElite['Año'] = filtered_df_SkyElite['Ingreso'].dt.year

# Agrupar por año y mes, sumando los ingresos
grouped_df_SkyElite = filtered_df_SkyElite.groupby(['Año', 'Mes'])['Ingresos Totales'].sum().reset_index()

# Ordenar los datos para mejor visualización
grouped_df_SkyElite = grouped_df_SkyElite.sort_values(by=['Año', 'Mes'])

# Mostrar el resultado
print(grouped_df_SkyElite)
'''

"\n# We have a 1 year contract offer to rent Sky Elite 229 property, for 500$ a month.\n# We want to see if the performance in AirBNB is better than those 500$\n\n# Asegurarse de que la columna 'Ingreso' esté en formato de fecha\ncleaned_df['Ingreso'] = pd.to_datetime(cleaned_df['Ingreso'])\n\n# Filtrar los datos para la propiedad 'Sky Elite: tu destino en Equipetrol'\nfiltered_df_SkyElite = cleaned_df[cleaned_df['Propiedad'] == 'Sky Elite: tu destino en Equipetrol']\n\n# Crear columnas para mes y año basadas en 'Ingreso'\nfiltered_df_SkyElite['Mes'] = filtered_df_SkyElite['Ingreso'].dt.month\nfiltered_df_SkyElite['Año'] = filtered_df_SkyElite['Ingreso'].dt.year\n\n# Agrupar por año y mes, sumando los ingresos\ngrouped_df_SkyElite = filtered_df_SkyElite.groupby(['Año', 'Mes'])['Ingresos Totales'].sum().reset_index()\n\n# Ordenar los datos para mejor visualización\ngrouped_df_SkyElite = grouped_df_SkyElite.sort_values(by=['Año', 'Mes'])\n\n# Mostrar el resultado\nprint(grouped_df_SkyElite)\n"

In [47]:
'''
# Graficando los Ingresos Totales por Año del Sky Elite 229
# pip install seaborn
import seaborn as sns
import matplotlib.pyplot as plt

# Crear una nueva columna 'Año-Mes' combinando las columnas 'Año' y 'Mes'
grouped_df_SkyElite['Año-Mes'] = grouped_df_SkyElite['Año'].astype(str) + '-' + grouped_df_SkyElite['Mes'].astype(str).str.zfill(2)

# Verificar los datos
print(grouped_df_SkyElite[['Año', 'Mes', 'Año-Mes']].head())
print(grouped_df_SkyElite['Ingresos Totales'].mean())
print(grouped_df_SkyElite)

# Crear el barplot usando 'Año-Mes' como eje X y 'Ingresos Totales' como Y
sns.catplot(
    data=grouped_df_SkyElite,
    x='Año-Mes',
    y='Ingresos Totales',
    kind='bar',
    height=6,
    aspect=2
)

# Ajustar etiquetas del eje X para que sean legibles
plt.xticks(rotation=45, ha='right')
plt.title("Ingresos Totales por Año y Mes del Sky Elite 229")
plt.xlabel("Año-Mes")
plt.ylabel("Ingresos Totales")
plt.tight_layout()

# Mostrar el gráfico
plt.show()
'''

'\n# Graficando los Ingresos Totales por Año del Sky Elite 229\n# pip install seaborn\nimport seaborn as sns\nimport matplotlib.pyplot as plt\n\n# Crear una nueva columna \'Año-Mes\' combinando las columnas \'Año\' y \'Mes\'\ngrouped_df_SkyElite[\'Año-Mes\'] = grouped_df_SkyElite[\'Año\'].astype(str) + \'-\' + grouped_df_SkyElite[\'Mes\'].astype(str).str.zfill(2)\n\n# Verificar los datos\nprint(grouped_df_SkyElite[[\'Año\', \'Mes\', \'Año-Mes\']].head())\nprint(grouped_df_SkyElite[\'Ingresos Totales\'].mean())\nprint(grouped_df_SkyElite)\n\n# Crear el barplot usando \'Año-Mes\' como eje X y \'Ingresos Totales\' como Y\nsns.catplot(\n    data=grouped_df_SkyElite,\n    x=\'Año-Mes\',\n    y=\'Ingresos Totales\',\n    kind=\'bar\',\n    height=6,\n    aspect=2\n)\n\n# Ajustar etiquetas del eje X para que sean legibles\nplt.xticks(rotation=45, ha=\'right\')\nplt.title("Ingresos Totales por Año y Mes del Sky Elite 229")\nplt.xlabel("Año-Mes")\nplt.ylabel("Ingresos Totales")\nplt.tight_layout()\n\n# Mostrar el gráfico\nplt.show()\n'