In [3]:
#pip install pandas

import pandas as pd

#All 6 csv aviable from AirBNB web
csv_files = [
    "DATA/reservations.csv",
    "DATA/reservations (1).csv",
    "DATA/reservations (2).csv",
    "DATA/reservations (3).csv",
    "DATA/reservations (4).csv",
    "DATA/reservations (5).csv",
]

# Read and concatenate all CSVs
dataframes = [pd.read_csv(file) for file in csv_files]
combined_df = pd.concat(dataframes, ignore_index=True)
# Drop duplicates based on 'Codigo de confirmacion' unique for each reservation.
# This is done because, I'm downloading manually each csv, so I could be downloading more than once the same csv.
cleaned_df = combined_df.drop_duplicates(subset=['Código de confirmación'])

print(cleaned_df.head(15))

   Código de confirmación                              Estado  \
0              HMM39A32MY  En espera de la reseña del huésped
1              HMHD29BF4W  En espera de la reseña del huésped
2              HMNFC2M2HE  En espera de la reseña del huésped
3              HMDX3FPRSE                    Huésped anterior
4              HMJWPAAE4S  En espera de la reseña del huésped
5              HMH5FWWQAH                    Huésped anterior
6              HM4PQND42C  En espera de la reseña del huésped
7              HM2JRAWRS3                    Huésped anterior
8              HMQ5WCR5YP                    Huésped anterior
9              HMYY8JZNT9                    Huésped anterior
10             HMDWKMCDJY                    Huésped anterior
11             HMYH9HDA9M                    Huésped anterior
12             HMPE4NCEYR                    Huésped anterior
13             HM5XJDCD45                    Huésped anterior
14             HMK2SQZMYA                    Huésped anterior

          Nombre del huésped           Contacta  Número de adultos  \
0          Leonardo Calasans  +55 21 99259-6924                  1
1         Brenda Lucas Braga  +55 75 98891-6342                  2
2               Martin Ortiz      +591 69609063                  2
3              Vianka Mamani    +56 9 7476 3088                  1
4               Diego Florez    +51 912 708 082                  1
5               Walter Wiebe    +1 604-679-1612                  1
6        Patricia De La Vina    +1 602-386-6258                  4
7               Gene Callawy                NaN                  2
8             Charlie Alanez                NaN                  1
9   Gonzalo Aguirre Alvarado                NaN                  3
10            Fael Gutierrez                NaN                  6
11            Silvana Parada                NaN                  2
12              Carla Ortega                NaN                  2
13    Alberto Vargas Morales                NaN                  2
14       Patricia De La Vina                NaN                  4

    Número de niños  Número de bebés Fecha de inicio       Hasta  \
0                 0                0       16/1/2025   20/1/2025
1                 0                0        4/1/2025   20/1/2025
2                 0                0       18/1/2025   19/1/2025
3                 0                0       12/1/2025   19/1/2025
4                 0                0       10/1/2025   13/1/2025
5                 0                0      30/12/2024   12/1/2025
6                 0                0        8/1/2025   11/1/2025
7                 0                0        3/1/2025    6/1/2025
8                 0                0      31/12/2024    2/1/2025
9                 0                0      31/12/2024    2/1/2025
10                0                0      31/12/2024    2/1/2025
11                0                1      20/12/2024    2/1/2025
12                0                0      24/12/2024    1/1/2025
13                0                0      30/12/2024  31/12/2024
14                0                0      27/12/2024  30/12/2024

    Número de noches   Reservado  \
0                  4  2025-01-16
1                 16  2024-12-28
2                  1  2025-01-18
3                  7  2025-01-03
4                  3  2025-01-10
5                 13  2024-11-30
6                  3  2024-12-28
7                  3  2025-01-03
8                  2  2024-12-30
9                  2  2024-12-27
10                 2  2024-12-26
11                13  2024-12-18
12                 8  2024-12-14
13                 1  2024-12-30
14                 3  2024-12-13

                                             Anuncio Ingresos
0                         Exclusivo y Elegante dpto!   $26.83
1   En Equipetrol: Confort & Estilo, Ubicación Ideal  $400.80
2                        SMART YOU: Confort y Estilo   $14.17
3                    Dpto. 3 Dorm. con Piscina y Gym  $440.38
4                         Exclusivo y Elegante dpto!   $22.61
5                   Monoambiente exclusivo SKY Elite   $62.72
6                    Dpto. 3 Dorm. con Piscina y Gym  $216.31
7                         Exclusivo y Elegante dpto!   $22.61
8                        SMART YOU: Confort y Estilo   $19.27
9     Sky Elite, departamento con parqueo, gym y más   $22.18
10                   Dpto. 3 Dorm. con Piscina y Gym  $158.11
11                        Exclusivo y Elegante dpto!   $59.32
12               Sky Elite: tu destino en Equipetrol  $212.24
13                       SMART YOU: Confort y Estilo   $14.17
14                   Dpto. 3 Dorm. con Piscina y Gym  $209.03

In [4]:
# Listing new column names, easier to understand
new_column_names = [
    "Código de confirmación",
    "Estado",
    "Nombre del huésped",
    "Contacto",
    "Número de adultos",
    "Número de niños",
    "Número de bebés",
    "Ingreso",
    "Salida",
    "Número de noches",
    "Fecha de Reservación",
    "Propiedad",
    "Ingresos Totales"
]

# Changing Column Names
cleaned_df.columns = new_column_names

# Understanding more about the Data
print(cleaned_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Código de confirmación  207 non-null    object
 1   Estado                  207 non-null    object
 2   Nombre del huésped      207 non-null    object
 3   Contacto                7 non-null      object
 4   Número de adultos       207 non-null    int64
 5   Número de niños         207 non-null    int64
 6   Número de bebés         207 non-null    int64
 7   Ingreso                 207 non-null    object
 8   Salida                  207 non-null    object
 9   Número de noches        207 non-null    int64
 10  Fecha de Reservación    207 non-null    object
 11  Propiedad               207 non-null    object
 12  Ingresos Totales        207 non-null    object
dtypes: int64(4), object(9)
memory usage: 21.2+ KB
None

In [5]:
# Convirtiendo la columna Ingreso de object a date
# Create a copy of cleaned_df to avoid modifying the original dataframe
cleaned_DateTime_df = cleaned_df.copy()

# Convertir la columna 'Ingreso' a formato datetime
cleaned_DateTime_df['Ingreso'] = pd.to_datetime(cleaned_DateTime_df['Ingreso'], format='%d/%m/%Y', errors='coerce')

# Verificar si hay valores nulos después de la conversión
if cleaned_DateTime_df['Ingreso'].isna().any():
    print("Existen valores no convertidos a datetime. Revisa los siguientes datos:")
    print(cleaned_DateTime_df[cleaned_DateTime_df['Ingreso'].isna()])

# Mostrar el tipo de la columna después de la conversión
print(cleaned_DateTime_df['Ingreso'].dtype)

datetime64[ns]

In [6]:
# Convirtiendo la columna Salida de object a date

# Convertir la columna 'Salida' a formato datetime
cleaned_DateTime_df['Salida'] = pd.to_datetime(cleaned_DateTime_df['Salida'], format='%d/%m/%Y', errors='coerce')

# Verificar si hay valores nulos después de la conversión
if cleaned_DateTime_df['Salida'].isna().any():
    print("Existen valores no convertidos a datetime. Revisa los siguientes datos:")
    print(cleaned_DateTime_df[cleaned_DateTime_df['Salida'].isna()])

# Mostrar el tipo de la columna después de la conversión
print(cleaned_DateTime_df['Salida'].dtype)

datetime64[ns]

In [7]:
# Convirtiendo la columna Fecha de Reservación de object a date

# Convert 'Fecha de Reservación' to datetime format (YYYY-MM-DD)
cleaned_DateTime_df['Fecha de Reservación'] = pd.to_datetime(
    cleaned_DateTime_df['Fecha de Reservación'], 
    format='%Y-%m-%d', 
    errors='coerce'
)

# Verify if there are NaT values after conversion
if cleaned_DateTime_df['Fecha de Reservación'].isna().any():
    print("Existen valores no convertidos a datetime. Revisa los siguientes datos:")
    print(cleaned_DateTime_df[cleaned_DateTime_df['Fecha de Reservación'].isna()])

# Display the column type after conversion
print(cleaned_DateTime_df['Fecha de Reservación'].dtype)

#Revisando todos los cambios de Date que realizamos
print(cleaned_DateTime_df.head())

datetime64[ns]
  Código de confirmación                              Estado  \
0             HMM39A32MY  En espera de la reseña del huésped
1             HMHD29BF4W  En espera de la reseña del huésped
2             HMNFC2M2HE  En espera de la reseña del huésped
3             HMDX3FPRSE                    Huésped anterior
4             HMJWPAAE4S  En espera de la reseña del huésped

   Nombre del huésped           Contacto  Número de adultos  Número de niños  \
0   Leonardo Calasans  +55 21 99259-6924                  1                0
1  Brenda Lucas Braga  +55 75 98891-6342                  2                0
2        Martin Ortiz      +591 69609063                  2                0
3       Vianka Mamani    +56 9 7476 3088                  1                0
4        Diego Florez    +51 912 708 082                  1                0

   Número de bebés    Ingreso     Salida  Número de noches  \
0                0 2025-01-16 2025-01-20                 4
1                0 2025-01-04 2025-01-20                16
2                0 2025-01-18 2025-01-19                 1
3                0 2025-01-12 2025-01-19                 7
4                0 2025-01-10 2025-01-13                 3

  Fecha de Reservación                                         Propiedad  \
0           2025-01-16                        Exclusivo y Elegante dpto!
1           2024-12-28  En Equipetrol: Confort & Estilo, Ubicación Ideal
2           2025-01-18                       SMART YOU: Confort y Estilo
3           2025-01-03                   Dpto. 3 Dorm. con Piscina y Gym
4           2025-01-10                        Exclusivo y Elegante dpto!

  Ingresos Totales
0           $26.83
1          $400.80
2           $14.17
3          $440.38
4           $22.61

In [8]:
# Convirtiendo la columna Ingresos Totales de object a date

# Eliminar el signo '$' y convertir a float
cleaned_DateTime_df['Ingresos Totales'] = (
    cleaned_DateTime_df['Ingresos Totales']
    .str.replace('$', '', regex=False)  # Eliminar el signo $
    .str.replace(',', '')  # Eliminar comas, si existen
    .astype(float)  # Convertir a float
)

# Verificar si hay valores NaN tras la conversión
if cleaned_DateTime_df['Ingresos Totales'].isna().any():
    print("Existen valores no válidos después de la conversión. Revisa los siguientes datos:")
    print(cleaned_DateTime_df[cleaned_DateTime_df['Ingresos Totales'].isna()])

# Mostrar el tipo de la columna después de la conversión
print("Tipo de la columna 'Ingresos Totales':", cleaned_DateTime_df['Ingresos Totales'].dtype)

Tipo de la columna 'Ingresos Totales': float64

In [9]:
# We are going to divide the DataFrame into 2 separated ones.
# One will be used for day to day transactions, such as occupancy rate. Used for: Occupancy rates, Booking lead time, Lenght Stay trends, Loyalty trends
# The other will be used for aggregated functions for property comparisons, between months. Used for: Earnings analysis, Demographic Analysis, Seasonal Analysis
# I have concluded to use a Power BI data table to aggregate date time variables

# Changing Property Name for simplicity and adding Property Type for further Analysis.
# First obtaining the unique values of Propiedad, the value is the title inputted for the AirBNB ad.
# Get unique values from the 'Propiedad' column
unique_properties = cleaned_df['Propiedad'].unique()

# Display the unique values
print("Unique values in 'Propiedad':")
print(unique_properties)

# Now that we have the values, we are going to change the property values for a more simple understanding

#No me cuadran los datos del Anuncio 'Nuevo y estratégico departamento en Equipetrol', no lo tengo en el listado de AirBNB
# Filtrar los datos para la propiedad 'Nuevo y estratégico departamento en Equipetrol'
filtered_df_dptoEquipetrol = cleaned_df[cleaned_df['Propiedad'] == 'Nuevo y estratégico departamento en Equipetrol']
print(filtered_df_dptoEquipetrol.head().sort_values('Ingreso', ascending=False))
# Llegue a la conclusion de que es el Macororo 8, un inmueble que fue ya fue vendido hace 2 años

Unique values in 'Propiedad':
['Exclusivo y Elegante dpto!'
 'En Equipetrol: Confort & Estilo, Ubicación Ideal'
 'SMART YOU: Confort y Estilo' 'Dpto. 3 Dorm. con Piscina y Gym'
 'Monoambiente exclusivo SKY Elite'
 'Sky Elite, departamento con parqueo, gym y más'
 'Sky Elite: tu destino en Equipetrol' 'Vive la experiencia de Sky Elite'
 'Confort y Estilo en Santa Cruz' 'SKY Elite: ¡Hospédate Aquí!'
 'Confort y Negocios en Santa Cruz' 'Senior Suite: Ejecutivos/Parejas'
 'Nuevo y estratégico departamento en Equipetrol']
    Código de confirmación            Estado             Nombre del huésped  \
193             HM8EJYDC3M  Huésped anterior                    John Barron
194             HM3NH3XTEJ  Huésped anterior                  Airton Suarez
191             HMQENSESJA  Huésped anterior  Angeles Karen Claure Zambrana
192             HMNJJ5P2CH  Huésped anterior                      Hugo Aedo
195             HM2F8P2MKR  Huésped anterior                 Lesly Gonzales

    Contacto  Número de adultos  Número de niños  Número de bebés     Ingreso  \
193      NaN                  2                0                0  26/12/2022
194      NaN                  2                0                0  21/12/2022
191      NaN                  2                0                0   18/2/2023
192      NaN                  1                0                0   15/1/2023
195      NaN                  1                0                0  13/12/2022

         Salida  Número de noches Fecha de Reservación  \
193    3/1/2023                 8           2022-12-14
194  22/12/2022                 1           2022-12-21
191   21/2/2023                 3           2023-02-15
192   17/1/2023                 2           2023-01-15
195  14/12/2022                 1           2022-12-13

                                          Propiedad Ingresos Totales
193  Nuevo y estratégico departamento en Equipetrol          $218.68
194  Nuevo y estratégico departamento en Equipetrol           $42.68
191  Nuevo y estratégico departamento en Equipetrol           $98.75
192  Nuevo y estratégico departamento en Equipetrol           $75.66
195  Nuevo y estratégico departamento en Equipetrol           $42.68

In [10]:
# Replacing the values from the 'Propiedad' column, to simplify the analysis and understand what the value stands for

# Define the mapping dictionary
property_mapping = {
    'En Equipetrol: Confort & Estilo, Ubicación Ideal': 'MACORORO 12 - 12F',
    'SMART YOU: Confort y Estilo': 'YOU - 316',
    'Monoambiente exclusivo SKY Elite': 'SKY ELITE - 320',
    'Sky Elite, departamento con parqueo, gym y más': 'SKY ELITE - 132',
    'Sky Elite: tu destino en Equipetrol': 'SKY ELITE - 229',
    'Confort y Estilo en Santa Cruz': 'SKY ELITE - 115',
    'Confort y Negocios en Santa Cruz': 'TORRES SIRARI - 5A',
    'Nuevo y estratégico departamento en Equipetrol': 'MACORORO 8',
    'Dpto. 3 Dorm. con Piscina y Gym': 'MACORORO 15 - 8G',
    'Vive la experiencia de Sky Elite': 'SKY ELITE - 524',
    'SKY Elite: ¡Hospédate Aquí!': 'SKY ELITE - 323',
    'Senior Suite: Ejecutivos/Parejas': 'HOTEL RADISSON - SENIOR SUITE',
    'Exclusivo y Elegante dpto!': 'SKY ELITE - 510'
}

# Replace the values in the 'Propiedad' column
cleaned_DateTime_df['Propiedad'] = cleaned_DateTime_df['Propiedad'].replace(property_mapping)

# Display the updated DataFrame
print(cleaned_DateTime_df.head())

# Reasuring the values have change correctly
unique_properties = cleaned_DateTime_df['Propiedad'].unique()
print(unique_properties)

  Código de confirmación                              Estado  \
0             HMM39A32MY  En espera de la reseña del huésped
1             HMHD29BF4W  En espera de la reseña del huésped
2             HMNFC2M2HE  En espera de la reseña del huésped
3             HMDX3FPRSE                    Huésped anterior
4             HMJWPAAE4S  En espera de la reseña del huésped

   Nombre del huésped           Contacto  Número de adultos  Número de niños  \
0   Leonardo Calasans  +55 21 99259-6924                  1                0
1  Brenda Lucas Braga  +55 75 98891-6342                  2                0
2        Martin Ortiz      +591 69609063                  2                0
3       Vianka Mamani    +56 9 7476 3088                  1                0
4        Diego Florez    +51 912 708 082                  1                0

   Número de bebés    Ingreso     Salida  Número de noches  \
0                0 2025-01-16 2025-01-20                 4
1                0 2025-01-04 2025-01-20                16
2                0 2025-01-18 2025-01-19                 1
3                0 2025-01-12 2025-01-19                 7
4                0 2025-01-10 2025-01-13                 3

  Fecha de Reservación          Propiedad  Ingresos Totales
0           2025-01-16    SKY ELITE - 510             26.83
1           2024-12-28  MACORORO 12 - 12F            400.80
2           2025-01-18          YOU - 316             14.17
3           2025-01-03   MACORORO 15 - 8G            440.38
4           2025-01-10    SKY ELITE - 510             22.61
['SKY ELITE - 510' 'MACORORO 12 - 12F' 'YOU - 316' 'MACORORO 15 - 8G'
 'SKY ELITE - 320' 'SKY ELITE - 132' 'SKY ELITE - 229' 'SKY ELITE - 524'
 'SKY ELITE - 115' 'SKY ELITE - 323' 'TORRES SIRARI - 5A'
 'HOTEL RADISSON - SENIOR SUITE' 'MACORORO 8']

In [11]:
# Adding Property Type to further our analysis, to underestand what type of properties perform better, mapping the values from 'Propiedad' 

# Define the mapping dictionary
property_type_mapping = {
    'MACORORO 12 - 12F': '1 Dormitorio',
    'YOU - 316': 'Monoambiente',
    'SKY ELITE - 320': 'Monoambiente',
    'SKY ELITE - 132': '1 Dormitorio',
    'SKY ELITE - 229': 'Monoambiente',
    'SKY ELITE - 115': 'Monoambiente',
    'TORRES SIRARI - 5A': '1 Dormitorio',
    'MACORORO 8': '1 Dormitorio',
    'MACORORO 15 - 8G': '3 Dormitorios',
    'SKY ELITE - 524': 'Monoambiente',
    'SKY ELITE - 323': 'Monoambiente',
    'HOTEL RADISSON - SENIOR SUITE': 'Senior Suite',
    'SKY ELITE - 510': 'Monoambiente'
}

# Create the new column 'Property Type' using the mapping dictionary
cleaned_DateTime_df['Property Type'] = cleaned_DateTime_df['Propiedad'].map(property_type_mapping)

# Display the updated DataFrame
print(cleaned_DateTime_df[['Propiedad', 'Property Type']].head())

           Propiedad  Property Type
0    SKY ELITE - 510   Monoambiente
1  MACORORO 12 - 12F   1 Dormitorio
2          YOU - 316   Monoambiente
3   MACORORO 15 - 8G  3 Dormitorios
4    SKY ELITE - 510   Monoambiente

In [27]:
# Adding if the properties are of our own (family) or one of our clients that we manage them for
# Define the mapping dictionary
property_management_mapping = {
    'MACORORO 12 - 12F': 'Propia',
    'YOU - 316': 'Administrada',
    'SKY ELITE - 320': 'Administrada',
    'SKY ELITE - 132': 'Administrada',
    'SKY ELITE - 229': 'Propia',
    'SKY ELITE - 115': 'Administrada',
    'TORRES SIRARI - 5A': 'Administrada',
    'MACORORO 8': 'Propia',
    'MACORORO 15 - 8G': 'Propia',
    'SKY ELITE - 524': 'Administrada',
    'SKY ELITE - 323': 'Administrada',
    'HOTEL RADISSON - SENIOR SUITE': 'Administrada',
    'SKY ELITE - 510': 'Administrada'
}

# Create the new column 'Gestion' using the mapping dictionary
cleaned_DateTime_df['Management'] = cleaned_DateTime_df['Propiedad'].map(property_management_mapping)

# Display the updated DataFrame
print(cleaned_DateTime_df[['Propiedad', 'Management']].head())

           Propiedad    Management
0    SKY ELITE - 510  Administrada
1  MACORORO 12 - 12F        Propia
2          YOU - 316  Administrada
3   MACORORO 15 - 8G        Propia
4    SKY ELITE - 510  Administrada

In [12]:
# Finding out if there are any missing values. Should have done it before, but I esxpect no missing value from an AirBNB platform

print(cleaned_df.isna().sum())

# We have 200 missing values in Contecto, none of them repeats themselves.
print(cleaned_df['Contacto'].value_counts())

# The DataFrame lenght is 207
print(len(cleaned_df))

Código de confirmación      0
Estado                      0
Nombre del huésped          0
Contacto                  200
Número de adultos           0
Número de niños             0
Número de bebés             0
Ingreso                     0
Salida                      0
Número de noches            0
Fecha de Reservación        0
Propiedad                   0
Ingresos Totales            0
dtype: int64
Contacto
+55 21 99259-6924    1
+55 75 98891-6342    1
+591 69609063        1
+56 9 7476 3088      1
+51 912 708 082      1
+1 604-679-1612      1
+1 602-386-6258      1
Name: count, dtype: int64
207

In [13]:
# Revision final a DataFrame que exportaremos para usar en el Power BI
print(cleaned_DateTime_df.describe())
print(cleaned_DateTime_df.info())
print(cleaned_DateTime_df.head())

# Entendiendo el DataSet, veo que el min de Ingresos Totales es casi 3$, lo que es un outlier, debe ser alguna compensacion por
# cancelacion de la reserva. Quiero revisar cuales son los posibles outliers, en todo caso seria datos por debajo del threshold
# los que busco, porque los datos de por encima del threshold si nos beneficia, el problema son los de abajo por algun tipo de
# cancelacion de la reserva.

Total_75th_IngresosTotales = cleaned_DateTime_df['Ingresos Totales'].quantile(0.75)
Total_25th_IngresosTotales = cleaned_DateTime_df['Ingresos Totales'].quantile(0.25)
IQR_IngresosTotales = Total_75th_IngresosTotales - Total_25th_IngresosTotales
lower_IngresosTotales = Total_25th_IngresosTotales - (1.5 * IQR_IngresosTotales)

# Subsetting to see the and understand the outliers
print(lower_IngresosTotales)
# Veo que mi Threshold es un numero negativo, por ende no tengo outliers matematicamente hablando
print(cleaned_DateTime_df[cleaned_DateTime_df['Ingresos Totales'] < lower_IngresosTotales])

       Número de adultos  Número de niños  Número de bebés  \
count         207.000000       207.000000       207.000000
mean            1.743961         0.048309         0.014493
min             1.000000         0.000000         0.000000
25%             1.000000         0.000000         0.000000
50%             2.000000         0.000000         0.000000
75%             2.000000         0.000000         0.000000
max             6.000000         2.000000         1.000000
std             0.742045         0.236447         0.119800

                             Ingreso               Salida  Número de noches  \
count                            207                  207        207.000000
mean   2024-05-13 22:57:23.478260992  2024-05-18 00:00:00          4.043478
min              2022-02-25 00:00:00  2022-03-05 00:00:00          1.000000
25%              2024-03-13 12:00:00  2024-03-15 12:00:00          1.000000
50%              2024-06-30 00:00:00  2024-07-02 00:00:00          2.000000
75%              2024-09-20 00:00:00  2024-09-23 00:00:00          5.000000
max              2025-01-18 00:00:00  2025-01-20 00:00:00         28.000000
std                              NaN                  NaN          4.795127

      Fecha de Reservación  Ingresos Totales
count                  207        207.000000
mean   2024-05-09 21:20:00         74.790918
min    2022-02-24 00:00:00          3.930000
25%    2024-02-27 00:00:00         18.070000
50%    2024-06-27 00:00:00         35.230000
75%    2024-09-18 12:00:00         94.090000
max    2025-01-18 00:00:00        544.170000
std                    NaN         94.467817
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Código de confirmación  207 non-null    object
 1   Estado                  207 non-null    object
 2   Nombre del huésped      207 non-null    object
 3   Contacto                7 non-null      object
 4   Número de adultos       207 non-null    int64
 5   Número de niños         207 non-null    int64
 6   Número de bebés         207 non-null    int64
 7   Ingreso                 207 non-null    datetime64[ns]
 8   Salida                  207 non-null    datetime64[ns]
 9   Número de noches        207 non-null    int64
 10  Fecha de Reservación    207 non-null    datetime64[ns]
 11  Propiedad               207 non-null    object
 12  Ingresos Totales        207 non-null    float64
 13  Property Type           207 non-null    object
dtypes: datetime64[ns](3), float64(1), int64(4), object(6)
memory usage: 22.8+ KB
None
  Código de confirmación                              Estado  \
0             HMM39A32MY  En espera de la reseña del huésped
1             HMHD29BF4W  En espera de la reseña del huésped
2             HMNFC2M2HE  En espera de la reseña del huésped
3             HMDX3FPRSE                    Huésped anterior
4             HMJWPAAE4S  En espera de la reseña del huésped

   Nombre del huésped           Contacto  Número de adultos  Número de niños  \
0   Leonardo Calasans  +55 21 99259-6924                  1                0
1  Brenda Lucas Braga  +55 75 98891-6342                  2                0
2        Martin Ortiz      +591 69609063                  2                0
3       Vianka Mamani    +56 9 7476 3088                  1                0
4        Diego Florez    +51 912 708 082                  1                0

   Número de bebés    Ingreso     Salida  Número de noches  \
0                0 2025-01-16 2025-01-20                 4
1                0 2025-01-04 2025-01-20                16
2                0 2025-01-18 2025-01-19                 1
3                0 2025-01-12 2025-01-19                 7
4                0 2025-01-10 2025-01-13                 3

  Fecha de Reservación          Propiedad  Ingresos Totales  Property Type
0           2025-01-16    SKY ELITE - 510             26.83   Monoambiente
1           2024-12-28  MACORORO 12 - 12F            400.80   1 Dormitorio
2           2025-01-18          YOU - 316             14.17   Monoambiente
3           2025-01-03   MACORORO 15 - 8G            440.38  3 Dormitorios
4           2025-01-10    SKY ELITE - 510             22.61   Monoambiente
-95.96000000000001
Empty DataFrame
Columns: [Código de confirmación, Estado, Nombre del huésped, Contacto, Número de adultos, Número de niños, Número de bebés, Ingreso, Salida, Número de noches, Fecha de Reservación, Propiedad, Ingresos Totales, Property Type]
Index: []

In [14]:
# Buscare cuales son los outliers por Propiedad
min_Ingresos_per_property = cleaned_DateTime_df.groupby('Propiedad')['Ingresos Totales'].min()
print(min_Ingresos_per_property.sort_values())

# Veo que el SKY ELITE - 510 es el unico que tiene un minimo que no cuadra
print(cleaned_DateTime_df[cleaned_DateTime_df['Ingresos Totales'] == 3.93])
print(cleaned_DateTime_df[cleaned_DateTime_df['Ingresos Totales'] < 10])

# Removing the outlier but as another DataFrame, I'll set arbitrary a threshold of 10 as an outlier, to the min values of other
# propierties are around 13$ as min
# Filter rows where 'Ingresos Totales' is greater than 10 and create a new DataFrame
cleaned_Outliers_df = cleaned_DateTime_df[cleaned_DateTime_df["Ingresos Totales"] > 10].copy()

print(cleaned_Outliers_df.describe())

Propiedad
SKY ELITE - 510                    3.93
SKY ELITE - 320                   13.62
SKY ELITE - 524                   13.62
SKY ELITE - 115                   14.17
YOU - 316                         14.17
SKY ELITE - 323                   14.17
TORRES SIRARI - 5A                14.76
SKY ELITE - 132                   16.60
SKY ELITE - 229                   23.57
MACORORO 12 - 12F                 33.27
MACORORO 8                        35.68
HOTEL RADISSON - SENIOR SUITE     75.66
MACORORO 15 - 8G                 158.11
Name: Ingresos Totales, dtype: float64
   Código de confirmación            Estado Nombre del huésped Contacto  \
27             HM9TD4MP2J  Huésped anterior          Yaya Wang      NaN
28             HMC8TKPABK  Huésped anterior      Alba Castillo      NaN

    Número de adultos  Número de niños  Número de bebés    Ingreso     Salida  \
27                  1                0                0 2024-12-01 2024-12-02
28                  2                0                0 2024-11-29 2024-11-30

    Número de noches Fecha de Reservación        Propiedad  Ingresos Totales  \
27                 1           2024-11-29  SKY ELITE - 510              3.93
28                 1           2024-11-29  SKY ELITE - 510              3.93

   Property Type
27  Monoambiente
28  Monoambiente
   Código de confirmación            Estado Nombre del huésped Contacto  \
27             HM9TD4MP2J  Huésped anterior          Yaya Wang      NaN
28             HMC8TKPABK  Huésped anterior      Alba Castillo      NaN

    Número de adultos  Número de niños  Número de bebés    Ingreso     Salida  \
27                  1                0                0 2024-12-01 2024-12-02
28                  2                0                0 2024-11-29 2024-11-30

    Número de noches Fecha de Reservación        Propiedad  Ingresos Totales  \
27                 1           2024-11-29  SKY ELITE - 510              3.93
28                 1           2024-11-29  SKY ELITE - 510              3.93

   Property Type
27  Monoambiente
28  Monoambiente
       Número de adultos  Número de niños  Número de bebés  \
count         205.000000       205.000000       205.000000
mean            1.746341         0.048780         0.014634
min             1.000000         0.000000         0.000000
25%             1.000000         0.000000         0.000000
50%             2.000000         0.000000         0.000000
75%             2.000000         0.000000         0.000000
max             6.000000         2.000000         1.000000
std             0.743632         0.237555         0.120377

                             Ingreso                         Salida  \
count                            205                            205
mean   2024-05-12 00:07:01.463414528  2024-05-16 01:52:23.414634240
min              2022-02-25 00:00:00            2022-03-05 00:00:00
25%              2024-03-13 00:00:00            2024-03-15 00:00:00
50%              2024-06-28 00:00:00            2024-07-01 00:00:00
75%              2024-09-18 00:00:00            2024-09-21 00:00:00
max              2025-01-18 00:00:00            2025-01-20 00:00:00
std                              NaN                            NaN

       Número de noches           Fecha de Reservación  Ingresos Totales
count        205.000000                            205        205.000000
mean           4.073171  2024-05-07 21:46:32.195121920         75.482244
min            1.000000            2022-02-24 00:00:00         11.790000
25%            1.000000            2024-02-27 00:00:00         18.100000
50%            2.000000            2024-06-27 00:00:00         35.420000
75%            5.000000            2024-09-14 00:00:00         94.090000
max           28.000000            2025-01-18 00:00:00        544.170000
std            4.809051                            NaN         94.667586

In [15]:
# For global Analysis
#print(cleaned_Outliers_df.info())

# Night's book DataFrame, to see the Ocupancy rate per property and the average # of Nights per property. We'll also see average
# Booking Lead Time per property
ocupancy_property_df = cleaned_Outliers_df[['Ingreso', 'Salida', 'Número de noches', 'Fecha de Reservación', 'Propiedad', 'Ingresos Totales', 'Property Type']].copy()

# Agregar Mes y Año
ocupancy_property_df["Month"] = ocupancy_property_df["Ingreso"].dt.month
ocupancy_property_df["Year"] = ocupancy_property_df["Ingreso"].dt.year

# Calculate Booking Lead Time (Days Between Booking and Check-In)
ocupancy_property_df["Lead Time"] = (ocupancy_property_df["Ingreso"] - ocupancy_property_df["Fecha de Reservación"]).dt.days
#print(ocupancy_property_df.head())

# ------------------ OCCUPANCY RATE AND BOOKING LEAD TIME FOR PROPERTY ------------------
# Aggregate Nights Booked per Property, Month, Year
occupancy_prop_df = ocupancy_property_df.groupby(["Propiedad", "Month", "Year"]).agg({
    "Número de noches": "sum",
    "Lead Time": "mean"}).reset_index()
occupancy_prop_df.rename(columns={"Número de noches": "Total Nights Booked per Property", "Lead Time": "Avg Lead Time per Property"}, inplace=True)

# Calculate Total Available Nights Based on Month
import calendar
occupancy_prop_df["Total Available Nights"] = occupancy_prop_df["Month"].apply(lambda x: calendar.monthrange(2024, x)[1])

# Calculate Occupancy Rate for Each Property
occupancy_prop_df["Occupancy Rate (%)"] = (occupancy_prop_df["Total Nights Booked per Property"] / occupancy_prop_df["Total Available Nights"]) * 100
print(occupancy_prop_df.head())

# ------------------ OCCUPANCY RATE FOR PROPERTY TYPE ------------------
occupancy_type_df = ocupancy_property_df.groupby(["Property Type", "Month", "Year"]).agg({
    "Número de noches": "sum",
    "Lead Time": "mean"}).reset_index()
occupancy_type_df.rename(columns={"Número de noches": "Total Nights Booked per Property Type", "Lead Time": "Avg Lead Time per Property Type"}, inplace=True)

# Calculate Total Available Nights Based on Month
occupancy_type_df["Total Available Nights"] = occupancy_type_df["Month"].apply(lambda x: calendar.monthrange(2024, x)[1])

# Calculate Occupancy Rate for Each Property Type
occupancy_type_df["Occupancy Rate (%)"] = (occupancy_type_df["Total Nights Booked per Property Type"] / occupancy_type_df["Total Available Nights"]) * 100
print(occupancy_type_df.head())


# One will be used for day to day transactions, such as occupancy rate. Used for: Occupancy rates, Booking lead time, Lenght Stay trends, Loyalty trends
# The other will be used for aggregated functions for property comparisons, between months. Used for: Earnings analysis, Demographic Analysis, Seasonal Analysis

                       Propiedad  Month  Year  \
0  HOTEL RADISSON - SENIOR SUITE      1  2024
1  HOTEL RADISSON - SENIOR SUITE      2  2024
2  HOTEL RADISSON - SENIOR SUITE      7  2024
3  HOTEL RADISSON - SENIOR SUITE      8  2024
4              MACORORO 12 - 12F      1  2025

   Total Nights Booked per Property  Avg Lead Time per Property  \
0                                 1                         0.0
1                                 3                        29.0
2                                 3                         1.0
3                                 6                         6.5
4                                16                         7.0

   Total Available Nights  Occupancy Rate (%)
0                      31            3.225806
1                      29           10.344828
2                      31            9.677419
3                      31           19.354839
4                      31           51.612903
  Property Type  Month  Year  Total Nights Booked per Property Type  \
0  1 Dormitorio      1  2023                                      2
1  1 Dormitorio      1  2024                                     13
2  1 Dormitorio      1  2025                                     16
3  1 Dormitorio      2  2022                                      8
4  1 Dormitorio      2  2023                                      3

   Avg Lead Time per Property Type  Total Available Nights  Occupancy Rate (%)
0                         0.000000                      31            6.451613
1                         0.666667                      31           41.935484
2                         7.000000                      31           51.612903
3                         1.000000                      29           27.586207
4                         3.000000                      29           10.344828

In [24]:
# There was an interpretation mistake done while making the occupancy rate analysis.
# There are months were there were no bookings, are this months are actually not shown in the current dataframe.
# All months must appear and if no bookings are registered, there should be a 0% occupancy rate
# Months should start count from the first month the first property was offered, in the "Ingreso" column

from datetime import datetime

# Get current year and month (real-time reference)
current_year = datetime.today().year
current_month = datetime.today().month

# Get the first 'Ingreso' (first booking date) for each property
first_offer_date = ocupancy_property_df.groupby("Propiedad")["Ingreso"].min().reset_index()
first_offer_date.rename(columns={"Ingreso": "First Ingreso"}, inplace=True)

first_offer_date["First Year"] = first_offer_date["First Ingreso"].dt.year
first_offer_date["First Month"] = first_offer_date["First Ingreso"].dt.month

# Get the full date range from the first to the last 'Ingreso'
min_year, min_month = ocupancy_property_df["Ingreso"].min().year, ocupancy_property_df["Ingreso"].min().month

from itertools import product

# Create a full list of month-year combinations
all_months_years = pd.DataFrame(
    list(product(range(min_year, current_year + 1), range(1, 13))),
    columns=["Year", "Month"]
)

# Filter to ensure we don't include months beyond the current real-time month
all_months_years = all_months_years[
    (all_months_years["Year"] < current_year) | 
    ((all_months_years["Year"] == current_year) & (all_months_years["Month"] <= current_month))
]

# ------------------ COMPLETE OCCUPANCY DATA PER PROPERTY ------------------

# Get all unique properties
all_properties = ocupancy_property_df[['Propiedad']].drop_duplicates()

# Cross join properties with all months/years
full_prop_df = all_properties.merge(all_months_years, how="cross")

# Merge to get the first offer date per property
full_prop_df = full_prop_df.merge(first_offer_date, on="Propiedad", how="left")

# Filter out months before the property was offered
full_prop_df = full_prop_df[
    (full_prop_df["Year"] > full_prop_df["First Year"]) | 
    ((full_prop_df["Year"] == full_prop_df["First Year"]) & (full_prop_df["Month"] >= full_prop_df["First Month"]))
]

# Drop unnecessary columns
full_prop_df2 = full_prop_df.drop(columns=["First Ingreso", "First Year", "First Month"]).copy()

# Merge with existing occupancy data into a new DataFrame
occupancy_prop_df2 = full_prop_df2.merge(occupancy_prop_df, on=["Propiedad", "Year", "Month"], how="left")

# Fill missing values with 0 for occupancy-related metrics
occupancy_prop_df2["Total Nights Booked per Property"] = occupancy_prop_df2["Total Nights Booked per Property"].fillna(0)
occupancy_prop_df2["Total Available Nights"] = occupancy_prop_df2["Month"].apply(lambda x: calendar.monthrange(2024, x)[1])
occupancy_prop_df2["Occupancy Rate (%)"] = (occupancy_prop_df2["Total Nights Booked per Property"] / occupancy_prop_df2["Total Available Nights"]) * 100

print(occupancy_prop_df2.head())

           Propiedad  Year  Month  Total Nights Booked per Property  \
0    SKY ELITE - 510  2024     12                              19.0
1    SKY ELITE - 510  2025      1                              10.0
2    SKY ELITE - 510  2025      2                               0.0
3  MACORORO 12 - 12F  2022      2                               8.0
4  MACORORO 12 - 12F  2022      3                               1.0

   Avg Lead Time per Property  Total Available Nights  Occupancy Rate (%)
0                    0.666667                      31           61.290323
1                    0.000000                      31           32.258065
2                         NaN                      29            0.000000
3                    1.000000                      29           27.586207
4                    3.000000                      31            3.225806

In [25]:
# We continue with the occupancy_type_df, where apart from the mistake made with occupancy_prop_df, there were also months
# were the occupancy rate was more than 100%, this is due because there might be more than 1 porperty as a property type,
# meaning that when we sum up the booked nights, we might get more than the total aviable nights. Total aviable nights should be
# dynamic, depending on the number of properties in a property type and month


# ------------------ COMPLETE OCCUPANCY DATA PER PROPERTY TYPE ------------------

# Map each property to its property type
property_type_mapping = ocupancy_property_df[['Propiedad', 'Property Type']].drop_duplicates()

# Merge to get the first booking date per property type
property_first_booking = first_offer_date.merge(property_type_mapping, on="Propiedad", how="left")

# Get first offer date per property type (Earliest Date for each Property Type)
property_first_booking = property_first_booking.groupby("Property Type")["First Ingreso"].min().reset_index()
property_first_booking["First Year"] = property_first_booking["First Ingreso"].dt.year
property_first_booking["First Month"] = property_first_booking["First Ingreso"].dt.month

# Get all unique property types
all_property_types = ocupancy_property_df[['Property Type']].drop_duplicates()

# Cross join property types with all months/years (Reuse 'all_months_years')
full_type_df = all_property_types.merge(all_months_years, how="cross")

# Merge with the first available booking date per property type
full_type_df = full_type_df.merge(property_first_booking, on="Property Type", how="left")


# FILTER OUT MONTHS BEFORE THE FIRST TIME A PROPERTY TYPE WAS OFFERED
full_type_df = full_type_df[
    (full_type_df["Year"] > full_type_df["First Year"]) | 
    ((full_type_df["Year"] == full_type_df["First Year"]) & (full_type_df["Month"] >= full_type_df["First Month"]))
]

# Drop unnecessary columns
full_type_df = full_type_df.drop(columns=["First Ingreso", "First Year", "First Month"]).copy()

# Count available properties per type each month (Reuse 'ocupancy_property_df')
available_properties_per_month = ocupancy_property_df.groupby(["Property Type", "Year", "Month"])["Propiedad"].nunique().reset_index()
available_properties_per_month.rename(columns={"Propiedad": "Available Properties"}, inplace=True)

# Merge to get the number of properties available each month per type
full_type_df = full_type_df.merge(available_properties_per_month, on=["Property Type", "Year", "Month"], how="left")

# Fill NaN values (months with 0 properties should be counted as 0)
full_type_df["Available Properties"] = full_type_df["Available Properties"].fillna(0)

# Merge with existing occupancy data (Reuse 'occupancy_type_df')
occupancy_type_df2 = full_type_df.merge(occupancy_type_df, on=["Property Type", "Year", "Month"], how="left")

# Fill missing values with 0 for total nights booked
occupancy_type_df2["Total Nights Booked per Property Type"] = occupancy_type_df2["Total Nights Booked per Property Type"].fillna(0)

# Correctly calculate total available nights
occupancy_type_df2["Total Available Nights"] = occupancy_type_df2.apply(
    lambda row: row["Available Properties"] * calendar.monthrange(row["Year"], row["Month"])[1], axis=1
)

# Compute Corrected Occupancy Rate
occupancy_type_df2["Occupancy Rate (%)"] = (
    occupancy_type_df2["Total Nights Booked per Property Type"] / occupancy_type_df2["Total Available Nights"]
) * 100

# Ensure no occupancy rate exceeds 100%
occupancy_type_df2["Occupancy Rate (%)"] = occupancy_type_df2["Occupancy Rate (%)"].clip(upper=100)

print(occupancy_type_df2.head())

  Property Type  Year  Month  Available Properties  \
0  Monoambiente  2023     12                   3.0
1  Monoambiente  2024      1                   3.0
2  Monoambiente  2024      2                   3.0
3  Monoambiente  2024      3                   3.0
4  Monoambiente  2024      4                   3.0

   Total Nights Booked per Property Type  Avg Lead Time per Property Type  \
0                                   50.0                         4.272727
1                                   23.0                         1.625000
2                                   20.0                        23.600000
3                                   19.0                         3.800000
4                                   40.0                         9.250000

   Total Available Nights  Occupancy Rate (%)
0                    93.0           53.763441
1                    93.0           24.731183
2                    87.0           22.988506
3                    93.0           20.430108
4                    90.0           44.444444

In [18]:
# Customer Analysis
# I'll be creating a customer_loyalty_df to see which customers re used our services, percent of customers that only used once our 
# services, and percent of customers that used more than once our services. Demography of our clients

customer_df = cleaned_Outliers_df[['Código de confirmación', 'Nombre del huésped', 'Contacto', 'Número de adultos', 'Número de niños', 'Número de bebés', 'Propiedad', 'Ingresos Totales', 'Property Type']].copy()

# Crear un identificador único por huésped (puede ser nombre o contacto si falta el nombre)
customer_df["Guest Identifier"] = customer_df.apply(lambda x: x["Nombre del huésped"] if pd.notna(x["Nombre del huésped"]) else x["Contacto"], axis=1)

# Agrupar por huésped y contar la cantidad de reservas (Total Bookings)
customer_loyalty_df = customer_df.groupby("Guest Identifier").agg({"Código de confirmación": "nunique"}).reset_index()

# Renombrar columnas
customer_loyalty_df.rename(columns={"Código de confirmación": "Total Bookings"}, inplace=True)
customer_loyalty_df = customer_loyalty_df.sort_values(by="Total Bookings", ascending=False)
print(customer_loyalty_df.head())
print(customer_loyalty_df.info())
print(customer_loyalty_df.describe())

           Guest Identifier  Total Bookings
80   Jorge Augusto Sobreira              24
63        Hernan Justiniano               5
92                Ling Chen               4
84     José Carlos Orellana               3
155  Yomi Chavez Casablanca               3
<class 'pandas.core.frame.DataFrame'>
Index: 157 entries, 80 to 156
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Guest Identifier  157 non-null    object
 1   Total Bookings    157 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.7+ KB
None
       Total Bookings
count      157.000000
mean         1.305732
std          1.896902
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         24.000000

In [19]:
# Customer Demographic

# ------------------ CUSTOMER DEMOGRAPHICS PER PROPERTY ------------------
customer_demograph_property_df = customer_df.groupby(["Propiedad"]).agg({
    "Número de adultos": "sum",
    "Número de niños": "sum",
    "Número de bebés": "sum",
    "Código de confirmación": "count"  # Total bookings per property
}).reset_index()

customer_demograph_property_df.rename(columns={"Confirmation Code": "Total Bookings"}, inplace=True)
print(customer_demograph_property_df)

# ------------------ CUSTOMER DEMOGRAPHICS PER PROPERTY TYPE ------------------
customer_demograph_type_df = customer_df.groupby(["Property Type"]).agg({
    "Número de adultos": "sum",
    "Número de niños": "sum",
    "Número de bebés": "sum",
    "Código de confirmación": "count"
}).reset_index()

customer_demograph_type_df.rename(columns={"Confirmation Code": "Total Bookings"}, inplace=True)
print(customer_demograph_type_df)

                        Propiedad  Número de adultos  Número de niños  \
0   HOTEL RADISSON - SENIOR SUITE                  9                0
1               MACORORO 12 - 12F                 70                1
2                MACORORO 15 - 8G                 15                0
3                      MACORORO 8                 23                0
4                 SKY ELITE - 115                 12                0
5                 SKY ELITE - 132                 19                0
6                 SKY ELITE - 229                 40                0
7                 SKY ELITE - 320                 55                3
8                 SKY ELITE - 323                 39                2
9                 SKY ELITE - 510                  8                0
10                SKY ELITE - 524                 29                3
11             TORRES SIRARI - 5A                 27                1
12                      YOU - 316                 12                0

    Número de bebés  Código de confirmación
0                 0                       5
1                 0                      40
2                 0                       4
3                 0                      14
4                 0                       7
5                 0                      10
6                 0                      28
7                 1                      36
8                 0                      18
9                 1                       6
10                1                      16
11                0                      12
12                0                       9
   Property Type  Número de adultos  Número de niños  Número de bebés  \
0   1 Dormitorio                139                2                0
1  3 Dormitorios                 15                0                0
2   Monoambiente                195                8                3
3   Senior Suite                  9                0                0

   Código de confirmación
0                      76
1                       4
2                     120
3                       5

In [28]:
# Exporting tables to csv

# cleaned_DateTime_df will be used as an Earning Analysis table
cleaned_DateTime_df.to_csv("cleaned_DataFrame.csv", index=False)
# cleaned_Outliers_df will be used for statistics that can be influenced from a skewed distributions such as mean
cleaned_Outliers_df.to_csv("cleaned_Outliers.csv", index=False)
# occupancy_prop_df will be used for occupancy rate and leading time analysis
occupancy_prop_df.to_csv("occupancy_leading_by_property.csv", index=False)
# occupancy_type_df will be used for occupancy rate and leading time analysis
occupancy_type_df.to_csv("occupancy_leading_by_property_type.csv", index=False)
# customer_loyalty_df will be used to answer, are our services re used, or just used once?
customer_loyalty_df.to_csv("customer_loyalty_demographics.csv", index=False)
# customer_demograph_property_df circle graph to see demography in properties
customer_demograph_property_df.to_csv("customer_demographics_by_property.csv", index=False)
# customer_demograph_type_df circle graph to see demography in property types
customer_demograph_type_df.to_csv("customer_demographics_by_property_type.csv", index=False)
# occupancy_prop_df2 will be used for occupancy rate, this is the offical version
occupancy_prop_df2.to_csv("occupancy_by_property.csv", index=False)
# occupancy_type_df2 will be used for occupancy rate, this is the official version
occupancy_type_df2.to_csv("occupancy_by_type.csv", index=False)

In [21]:
# We have a 1 year contract offer to rent Sky Elite 229 property, for 500$ a month.
# We want to see if the performance in AirBNB is better than those 500$

# Asegurarse de que la columna 'Ingreso' esté en formato de fecha
cleaned_df['Ingreso'] = pd.to_datetime(cleaned_df['Ingreso'])

# Filtrar los datos para la propiedad 'Sky Elite: tu destino en Equipetrol'
filtered_df_SkyElite = cleaned_df[cleaned_df['Propiedad'] == 'Sky Elite: tu destino en Equipetrol']

# Crear columnas para mes y año basadas en 'Ingreso'
filtered_df_SkyElite['Mes'] = filtered_df_SkyElite['Ingreso'].dt.month
filtered_df_SkyElite['Año'] = filtered_df_SkyElite['Ingreso'].dt.year

# Agrupar por año y mes, sumando los ingresos
grouped_df_SkyElite = filtered_df_SkyElite.groupby(['Año', 'Mes'])['Ingresos Totales'].sum().reset_index()

# Ordenar los datos para mejor visualización
grouped_df_SkyElite = grouped_df_SkyElite.sort_values(by=['Año', 'Mes'])

# Mostrar el resultado
print(grouped_df_SkyElite)

    Año  Mes                        Ingresos Totales
0  2024    4                $56.84$29.10$26.19$23.57
1  2024    5  $60.33$80.41$60.33$60.33$110.97$127.55
2  2024    6             $237.55$169.20$191.98$60.33
3  2024    7         $94.09$37.83$85.65$37.83$136.28
4  2024    8                          $338.82$541.36
5  2024    9        $260.34$37.83$65.96$161.60$65.96
6  2024   10                                  $37.83
7  2024   12                                 $212.24

C:\Users\jcarl\AppData\Local\Temp\ipykernel_25764\4016693723.py:5: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  cleaned_df['Ingreso'] = pd.to_datetime(cleaned_df['Ingreso'])
C:\Users\jcarl\AppData\Local\Temp\ipykernel_25764\4016693723.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_SkyElite['Mes'] = filtered_df_SkyElite['Ingreso'].dt.month
C:\Users\jcarl\AppData\Local\Temp\ipykernel_25764\4016693723.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df_SkyElite['Año'] = filtered_df_SkyElite['Ingreso'].dt.year

In [22]:
# Graficando los Ingresos Totales por Año del Sky Elite 229
# pip install seaborn
import seaborn as sns
import matplotlib.pyplot as plt

# Crear una nueva columna 'Año-Mes' combinando las columnas 'Año' y 'Mes'
grouped_df_SkyElite['Año-Mes'] = grouped_df_SkyElite['Año'].astype(str) + '-' + grouped_df_SkyElite['Mes'].astype(str).str.zfill(2)

# Verificar los datos
print(grouped_df_SkyElite[['Año', 'Mes', 'Año-Mes']].head())
print(grouped_df_SkyElite['Ingresos Totales'].mean())
print(grouped_df_SkyElite)

# Crear el barplot usando 'Año-Mes' como eje X y 'Ingresos Totales' como Y
sns.catplot(
    data=grouped_df_SkyElite,
    x='Año-Mes',
    y='Ingresos Totales',
    kind='bar',
    height=6,
    aspect=2
)

# Ajustar etiquetas del eje X para que sean legibles
plt.xticks(rotation=45, ha='right')
plt.title("Ingresos Totales por Año y Mes del Sky Elite 229")
plt.xlabel("Año-Mes")
plt.ylabel("Ingresos Totales")
plt.tight_layout()

# Mostrar el gráfico
plt.show()

    Año  Mes  Año-Mes
0  2024    4  2024-04
1  2024    5  2024-05
2  2024    6  2024-06
3  2024    7  2024-07
4  2024    8  2024-08

TypeError: Could not convert string '$56.84$29.10$26.19$23.57$60.33$80.41$60.33$60.33$110.97$127.55$237.55$169.20$191.98$60.33$94.09$37.83$85.65$37.83$136.28$338.82$541.36$260.34$37.83$65.96$161.60$65.96$37.83$212.24' to numeric