In [12]:
#pip install pandas

import pandas as pd

#All 6 csv aviable from AirBNB web
csv_files = [
    "DATA/reservations.csv",
    "DATA/reservations (1).csv",
    "DATA/reservations (2).csv",
    "DATA/reservations (3).csv",
    "DATA/reservations (4).csv",
    "DATA/reservations (5).csv",
]

# Read and concatenate all CSVs
dataframes = [pd.read_csv(file) for file in csv_files]
combined_df = pd.concat(dataframes, ignore_index=True)
# Drop duplicates based on 'Codigo de confirmacion' unique for each reservation.
# This is done because, I'm downloading manually each csv, so I could be downloading more than once the same csv.
cleaned_df = combined_df.drop_duplicates(subset=['Código de confirmación'])

print(cleaned_df.head(15))

   Código de confirmación                              Estado  \
0              HMM39A32MY  En espera de la reseña del huésped
1              HMHD29BF4W  En espera de la reseña del huésped
2              HMNFC2M2HE  En espera de la reseña del huésped
3              HMDX3FPRSE                    Huésped anterior
4              HMJWPAAE4S  En espera de la reseña del huésped
5              HMH5FWWQAH                    Huésped anterior
6              HM4PQND42C  En espera de la reseña del huésped
7              HM2JRAWRS3                    Huésped anterior
8              HMQ5WCR5YP                    Huésped anterior
9              HMYY8JZNT9                    Huésped anterior
10             HMDWKMCDJY                    Huésped anterior
11             HMYH9HDA9M                    Huésped anterior
12             HMPE4NCEYR                    Huésped anterior
13             HM5XJDCD45                    Huésped anterior
14             HMK2SQZMYA                    Huésped anterior

          Nombre del huésped           Contacta  Número de adultos  \
0          Leonardo Calasans  +55 21 99259-6924                  1
1         Brenda Lucas Braga  +55 75 98891-6342                  2
2               Martin Ortiz      +591 69609063                  2
3              Vianka Mamani    +56 9 7476 3088                  1
4               Diego Florez    +51 912 708 082                  1
5               Walter Wiebe    +1 604-679-1612                  1
6        Patricia De La Vina    +1 602-386-6258                  4
7               Gene Callawy                NaN                  2
8             Charlie Alanez                NaN                  1
9   Gonzalo Aguirre Alvarado                NaN                  3
10            Fael Gutierrez                NaN                  6
11            Silvana Parada                NaN                  2
12              Carla Ortega                NaN                  2
13    Alberto Vargas Morales                NaN                  2
14       Patricia De La Vina                NaN                  4

    Número de niños  Número de bebés Fecha de inicio       Hasta  \
0                 0                0       16/1/2025   20/1/2025
1                 0                0        4/1/2025   20/1/2025
2                 0                0       18/1/2025   19/1/2025
3                 0                0       12/1/2025   19/1/2025
4                 0                0       10/1/2025   13/1/2025
5                 0                0      30/12/2024   12/1/2025
6                 0                0        8/1/2025   11/1/2025
7                 0                0        3/1/2025    6/1/2025
8                 0                0      31/12/2024    2/1/2025
9                 0                0      31/12/2024    2/1/2025
10                0                0      31/12/2024    2/1/2025
11                0                1      20/12/2024    2/1/2025
12                0                0      24/12/2024    1/1/2025
13                0                0      30/12/2024  31/12/2024
14                0                0      27/12/2024  30/12/2024

    Número de noches   Reservado  \
0                  4  2025-01-16
1                 16  2024-12-28
2                  1  2025-01-18
3                  7  2025-01-03
4                  3  2025-01-10
5                 13  2024-11-30
6                  3  2024-12-28
7                  3  2025-01-03
8                  2  2024-12-30
9                  2  2024-12-27
10                 2  2024-12-26
11                13  2024-12-18
12                 8  2024-12-14
13                 1  2024-12-30
14                 3  2024-12-13

                                             Anuncio Ingresos
0                         Exclusivo y Elegante dpto!   $26.83
1   En Equipetrol: Confort & Estilo, Ubicación Ideal  $400.80
2                        SMART YOU: Confort y Estilo   $14.17
3                    Dpto. 3 Dorm. con Piscina y Gym  $440.38
4                         Exclusivo y Elegante dpto!   $22.61
5                   Monoambiente exclusivo SKY Elite   $62.72
6                    Dpto. 3 Dorm. con Piscina y Gym  $216.31
7                         Exclusivo y Elegante dpto!   $22.61
8                        SMART YOU: Confort y Estilo   $19.27
9     Sky Elite, departamento con parqueo, gym y más   $22.18
10                   Dpto. 3 Dorm. con Piscina y Gym  $158.11
11                        Exclusivo y Elegante dpto!   $59.32
12               Sky Elite: tu destino en Equipetrol  $212.24
13                       SMART YOU: Confort y Estilo   $14.17
14                   Dpto. 3 Dorm. con Piscina y Gym  $209.03

In [11]:
# Listing new column names, easier to understand
new_column_names = [
    "Código de confirmación",
    "Estado",
    "Nombre del huésped",
    "Contacto",
    "Número de adultos",
    "Número de niños",
    "Número de bebés",
    "Ingreso",
    "Salida",
    "Número de noches",
    "Fecha de Reservación",
    "Propiedad",
    "Ingresos Totales"
]

# Changing Column Names
cleaned_df.columns = new_column_names

# Understanding more about the Data
print(cleaned_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Código de confirmación  207 non-null    object
 1   Estado                  207 non-null    object
 2   Nombre del huésped      207 non-null    object
 3   Contacto                7 non-null      object
 4   Número de adultos       207 non-null    int64
 5   Número de niños         207 non-null    int64
 6   Número de bebés         207 non-null    int64
 7   Ingreso                 207 non-null    object
 8   Salida                  207 non-null    object
 9   Número de noches        207 non-null    int64
 10  Fecha de Reservación    207 non-null    object
 11  Propiedad               207 non-null    object
 12  Ingresos Totales        207 non-null    object
dtypes: int64(4), object(9)
memory usage: 21.2+ KB
None